[# th:if="${not #strings.isEmpty(section.settings.backgroundColor) || not #strings.isEmpty(section.settings.backgroundImage)}"]
.section-[[${ section.id }]]{
    background: [[${section.settings.backgroundColor}]] [# th:if="${not #strings.isEmpty(section.settings.backgroundImage)}"] url("[[${imageUrls.original(section.settings.backgroundImage)}]]")[/] [[${section.settings.backgroundRepeat}]] [[${section.settings.backgroundPosition}]];
    [# th:if="${not #strings.isEmpty(section.settings.backgroundSize)}"]
    background-size: [[${section.settings.backgroundSize}]];
    [/]
}
[/]
[# th:if="${not #strings.isEmpty(section.settings.textColor)}"]
.section-[[${ section.id }]] .section-title .text-body,
.section-[[${ section.id }]] .section-title .text-list {
    color:[[${section.settings.textColor}]];
}
[/]
[# th:if="${not #strings.isEmpty(section.settings.headingColor)}"]
.section-[[${ section.id }]] .section-title .text-heading {
    color:[[${section.settings.headingColor}]];
}
[/]
[# th:if="${not #strings.isEmpty(section.settings.subheadingColor)}"]
.section-[[${ section.id }]] .section-title .text-subheading {
    color:[[${section.settings.subheadingColor}]];
}
[/]
[# th:if="${not #strings.isEmpty(section.settings.textColor) || section.settings.textWidth > 0}"]
    [# th:if="${ section.settings.textWidth > 0 }"]
        .section-[[${ section.id }]] .section-title-divider {
            width: [[${section.settings.textWidth}]]%;
        }
    [/]
    [# th:if="${not #strings.isEmpty(section.settings.textColor)}"]
        .section-[[${ section.id }]] .section-title-divider:after {
            border-color: [[${section.settings.textColor}]];
        }
    [/]
[/]
[# th:if="${section.settings.textWidth != null && section.settings.textWidth > 0}"]
@media (min-width: 768px) {
    .section-[[${ section.id }]] .section-title [class^=text-] {
        width: [[${section.settings.textWidth}]]%;
    }
}
[/]

[# th:if="${section.settings.dividerWidth != null && section.settings.dividerWidth > 0}"]
.section-[[${ section.id }]] .section-title .has-line:after, .section-[[${ section.id }]] .section-title img {
    width: [[${section.settings.dividerWidth}]]%;
}
[/]
