[# th:if="${not #strings.isEmpty(section.settings.backgroundColor) || not #strings.isEmpty(section.settings.backgroundImage)}"]
.section-[[${ section.id }]]{
    background: [[${section.settings.backgroundColor}]] [# th:if="${not #strings.isEmpty(section.settings.backgroundImage)}"] url("[[${section.settings.backgroundImage}]]")[/] [[${section.settings.backgroundRepeat}]] [[${section.settings.backgroundPosition}]];
    [# th:if="${not #strings.isEmpty(section.settings.backgroundSize)}"]
    background-size: [[${section.settings.backgroundSize}]];
    [/]
}
[/]

[# th:if="${not #strings.isEmpty(section.settings.textColor)}"]
.section-[[${ section.id }]] .section-title [class^=text-] {
    color:[[${section.settings.textColor}]];
}
[/]

[# th:if="${ section.settings.cardPadding > 0 || section.settings.borderRadius > -1 }"]
@media (min-width: 768px) {
    [# th:if="${ section.settings.cardPadding > 0}"]
        .section-[[${ section.id }]] .card-body {
            padding:  [[${section.settings.cardPadding * 0.8}]]px [[${section.settings.cardPadding}]]px;
        }
    [/]
    [# th:if="${ section.settings.borderRadius > -1 }"]
    .section-[[${ section.id }]] .card {
        border-radius: [[${ section.settings.borderRadius }]]px;
    }
    [/]
}
[/]

[# th:if="${not #strings.isEmpty(section.settings.cardBackground)}"]
.section-[[${ section.id }]] .card {
    background-color: [[${ section.settings.cardBackground }]];
}
[/]
[# th:if="${not #strings.isEmpty(section.settings.cardColor)}"]
.section-[[${ section.id }]] .text-heading {
    color: [[${ section.settings.cardColor }]];
}
[/]
[# th:if="${not #strings.isEmpty(section.settings.cardSubtitle)}"]
.section-[[${ section.id }]] .text-body {
    color: [[${ section.settings.cardSubtitle }]];
}
[/]
[# th:if="${not #strings.isEmpty(section.settings.cardLink)}"]
.section-[[${ section.id }]] .text-link a {
    color: [[${ section.settings.cardLink }]];
}
[/]
