[# th:if="${not #strings.isEmpty(section.settings.backgroundColor) || not #strings.isEmpty(section.settings.backgroundImage)}"]
.section-[[${ section.id }]]{
    background: [[${section.settings.backgroundColor}]] [# th:if="${not #strings.isEmpty(section.settings.backgroundImage)}"] url("[[${imageUrls.original(section.settings.backgroundImage)}]]")[/] [[${section.settings.backgroundRepeat}]] [[${section.settings.backgroundPosition}]];
    [# th:if="${not #strings.isEmpty(section.settings.backgroundSize)}"]
    background-size: [[${section.settings.backgroundSize}]];
    [/]
}
[/]

[# th:if="${not #strings.isEmpty(section.settings.subColor)}"]
.section-[[${ section.id }]] .ABJn2q-since {color:[[${section.settings.subColor}]];}
.section-[[${ section.id }]] .ABJn2q-since:before{
    border-color: [[${ section.settings.subColor }]];;
}
[/]
[# th:if="${not #strings.isEmpty(section.settings.lineColor)}"]
    .section-[[${ section.id }]] .ABJn2q-line-text {-webkit-text-stroke-color:[[${section.settings.lineColor}]];}
[/]
[# th:if="${not #strings.isEmpty(section.settings.headingColor)}"]
    .section-[[${ section.id }]] .section-title .text-heading {color:[[${section.settings.headingColor}]];}
[/]
[# th:if="${not #strings.isEmpty(section.settings.headingLabelColor)}"]
    .section-[[${ section.id }]] .section-title .text-heading b{color:[[${section.settings.headingLabelColor}]];}
[/]

[# th:if="${not #strings.isEmpty(section.settings.contentBackground)}"]
    .section-[[${ section.id }]] .ABJn2q-info{background-color:[[${section.settings.contentBackground}]];}
[/]
[# th:if="${not #strings.isEmpty(section.settings.contentColor)}"]
    .section-[[${ section.id }]] .ABJn2q-info p{color:[[${section.settings.contentColor}]];}
[/]

[# th:if="${not #strings.isEmpty(section.settings.cardBackground)}"]
.section-[[${ section.id }]] .card{background:[[${ section.settings.cardBackground }]]}
[/]

[# th:if="${not #strings.isEmpty(section.settings.cardLineColor)}"]
.section-[[${ section.id }]] .card .card-body{border-color:[[${ section.settings.cardLineColor }]]}
[/]

[# th:if="${not #strings.isEmpty(section.settings.cardColor)}"]
.section-[[${ section.id }]] .card [class*=text-]{color:[[${ section.settings.cardColor }]]}
[/]
