<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''} ${section.templateId} section-${section.id} |" th:data-section="${section.templateId}">
    <div th:class="|bread-crumb ${section.settings.h1Layout}|" th:if="${section.settings.h1Layout != 'invisible' || section.settings.enableCrumb}">
        <div th:class="|container${section.settings.h1Wide ? '-fluid' : ''}${section.settings.enableCrumb ? '' : ' solo'}|">
            <h1 class="text-heading" th:if="${section.settings.h1Layout != 'invisible' && section.settings.h1Layout != 'bottom'}">
                [[${ page.seoH1 }]]
            </h1>
            <ol class="breadcrumb" th:if="${section.settings.enableCrumb}">
                <li class="breadcrumb-item">
                    <a th:href="${site.urlPrefix}">
                    [[${ lang.global.home }]]
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="|${site.urlPrefix}tag|">
                    TAGS
                    </a>
                </li>
                <li class="breadcrumb-item">
                    [[${ page.seoH1 }]]
                </li>
            </ol>
            <h1 class="text-heading" th:if="${section.settings.h1Layout != 'invisible' && section.settings.h1Layout == 'bottom'}">
                [[${ page.seoH1 }]]
            </h1>
        </div>
    </div>
    <div th:class="|section-container${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''}|">
        <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''} ${section.templateId}-container section-neighbor|">
            <div th:class="|row row-gutter ${section.templateId}-tile section-neighbor|" th:if="${section.settings.layout == 'tile'}">
                <div th:each="o,salt:${section.data.page.records}" th:class="|col-md-${section.settings.column} col-${ section.settings.mobColumn }|">
                    <a th:href="|item/${o.seoUrl}|">
                        <div class="card section-card">
                            <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}|">
                                <img class="embed-responsive-item card-img-top lazy" th:src="|${not #strings.isEmpty(o.coverImage) ? o.coverImage : '/theme/img/8.jpg'}!1|" th:data-original="|${not #strings.isEmpty(o.coverImage) ? o.coverImage : '/theme/img/8.jpg'}!${section.settings.wideScreen ? 'f' : ''}${section.settings.column}|" th:alt="${o.title}">
                            </div>
                            <div th:class="|card-body ${section.settings.textAlign}|">
                                <h3 class="text-content-heading" th:text="${#strings.length(o.title) >= 60 ? #strings.substring(o.title, 0, 60) : o.title}"></h3>
                                <p class="break-word text-secondary" th:if="${section.settings.subtitleVisible}" th:text="${#strings.length(o.subtitle) >= 100 ? #strings.substring(o.subtitle, 0, 100) : o.subtitle}"></p>
                                <p class="text-secondary" th:if="${section.settings.timeVisible}" th:text="${#dates.format(new java.util.Date(o.createTime),'yyyy-MM-dd')}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <th:block th:if="${section.settings.layout != 'tile'}">
                <div th:each="o,salt:${section.data.page.records}" th:class="|${section.templateId}-list|">
                    <a th:href="|item/${o.seoUrl}|">
                        <div class="row row-gutter">
                            <div class="col-md-3" th:if="${section.settings.imageVisible}">
                                <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}|">
                                    <img class="embed-responsive-item lazy" th:src="|${not #strings.isEmpty(o.coverImage) ? o.coverImage : 'https://site-file.fomillesite.com/0/001/img/800.jpg'}!1|" th:data-original="|${not #strings.isEmpty(o.coverImage) ? o.coverImage : 'https://site-file.fomillesite.com/0/001/img/800.jpg'}!${section.settings.wideScreen ? 'f' : ''}3|" th:alt="${o.title}">
                                </div>
                            </div>
                            <div th:class="|col-md-${section.settings.imageVisible == null || section.settings.imageVisible ? 9 : 12} ${section.settings.textAlign}|">
                                <h3 th:if="${not #strings.isEmpty(o.title)}" class="text-content-heading" th:text="${o.title}"></h3>
                                <p class="text-body break-word" th:if="${section.settings.subtitleVisible}" th:utext="${o.subtitle}"></p>
                                <p class="text-secondary" th:if="${section.settings.timeVisible}" th:text="${#dates.format(new java.util.Date(o.createTime),'yyyy-MM-dd')}"></p>
                                <p class="text-button d-md-block d-none" th:if="${not #strings.isEmpty(section.settings.buttonStyle) && section.settings.buttonStyle != 'invisible'}">
                                  <button th:class="|btn btn-more ${section.settings.buttonStyle}|">
                                      [[${#strings.isEmpty(section.settings.buttonLabel) ? 'Read More > ' : section.settings.buttonLabel}]]
                                  </button>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </th:block>
            <div class="section-neighbor d-flex justify-content-center" th:if="${section.data.page.total > section.data.page.size}">
                [(${ section.settings.pagination })]
            </div>
        </div>
    </div>
    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
