<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
        <div class="embed-responsive d-flex justify-content-end">
            <img class="embed-responsive-item lazy" th:src="${imageUrls.thumbnail(section.settings.image)}" th:data-original="${imageUrls.original(section.settings.image)}" th:if="${not #strings.isEmpty(section.settings.image)}">
            <ul class="position-relative">
                <li th:each="o,stat:${ section.settings.eventList }">
                    <label th:class="|${ section.templateId }-digit|" th:data-count-digit="${o.digit}">
                        [[${o.digit}]]
                    </label>
                    <sub th:class="|${ section.templateId }-unit|" th:if="${not #strings.isEmpty(o.unit)}">[[${o.unit}]]</sub>
                    <p class="text-body" th:if="${not #strings.isEmpty(o.describe)}">
                        [[${o.describe}]]
                    </p>
                </li>
                <li th:if="${ section.settings.buttonStyle != 'invisible' && not #strings.isEmpty(section.settings.buttonLabel) && not #strings.isEmpty(section.settings.buttonLink) }">
                    <a th:class="|btn ${ section.settings.buttonStyle }|" th:href="${ section.settings.buttonLink }">
                        [[${ section.settings.buttonLabel }]] <i class="ic-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
