// Static DEMO instance styles; production uses variable.th.css.
.section-demo-aMjeEn .aMjeEn-content {
    border-color:#00ff00;
}


    
       
       
       
    
       
       
       
    
        .section-demo-aMjeEn .aMjeEn-2 .aMjeEn-content {
            background-color: rgba(9,81,241,0.8);
        }
    
    
         .section-demo-aMjeEn .aMjeEn-2 .text-heading {
             color: #21d905;
         }
       
    
         .section-demo-aMjeEn .aMjeEn-2 .text-subheading {
             color: #046e15;
         }
       
    
         .section-demo-aMjeEn .aMjeEn-2 .text-body,
         .section-demo-aMjeEn .aMjeEn-2 .text-body * {
             color: #b5e505;
         }
       
    
        .section-demo-aMjeEn .aMjeEn-3 .aMjeEn-content {
            background-color: rgba(245,13,13,0.8);
        }
    
    
         .section-demo-aMjeEn .aMjeEn-3 .text-heading {
             color: #fff;
         }
       
    
         .section-demo-aMjeEn .aMjeEn-3 .text-subheading {
             color: #fff;
         }
       
    
         .section-demo-aMjeEn .aMjeEn-3 .text-body,
         .section-demo-aMjeEn .aMjeEn-3 .text-body * {
             color: #fff;
         }
