// Static DEMO instance styles; production uses variable.th.css.
.section-demo-uMRnmy .bread-crumb {
        background-color: #fff000;
    }


    .section-demo-uMRnmy .bread-crumb * {
        color: #ff0000;
    }


  .section-demo-uMRnmy .section-container {
    background: #ffff00   ;
    
  }



    .section-demo-uMRnmy .card-body {
        background-color: #0000ff;
    }



    .section-demo-uMRnmy .text-content-heading {
        color: #ff00ff;
    }
