<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''} ${section.templateId} section-${section.id} |" th:data-section="${section.templateId}">
    <img class="lazy embed-responsive" th:if="${section.data.collection != null && section.settings.bannerVisible && not #strings.isEmpty(section.data.collection.banner)}" th:src="${imageUrls.thumbnail(section.data.collection.banner)}" th:data-original="${imageUrls.original(section.data.collection.banner)}" th:alt="${section.data.collection.title}">
    <div class="bread-crumb left" th:if="${section.settings.enableCrumb}">
        <div th:class="|container${section.settings.h1Wide ? '-fluid' : ''}|">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="${site.urlPrefix}">
                    [[${ lang.global.home }]]
                    </a>
                </li>
                <li class="breadcrumb-item" th:if="${ lang != null && not #strings.isEmpty(lang.heading) }">
                    <a th:href="|${site.urlPrefix}products|">
                        [[${ lang.heading }]]
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <h1>[[${ page.seoH1 }]]</h1>
                </li>
            </ol>
            <div th:class="|${ section.templateId }-sort|">
                <small>[[${lang.filterBy}]]</small>
                <select class="form-control" name="filterBy">
                    <option selected value="featured">[[${lang.featured}]]</option>
                    <option value="selling">[[${lang.bestSelling}]]</option>
                    <option value="title-asc">[[${lang.alphabeticallyAZ}]]</option>
                    <option value="title-desc">[[${lang.alphabeticallyZA}]]</option>
                    <option value="price-asc">[[${lang.priceLowToHigh}]]</option>
                    <option value="price-desc">[[${lang.priceHighToLow}]]</option>
                    <option value="created-desc">[[${lang.dateNewToOld}]]</option>
                    <option value="created-asc">[[${lang.dateOldToNew}]]</option>
                </select>
            </div>
        </div>
    </div>
    <div th:class="|section-container ${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''}|">
        <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|" th:data-collection="${section.data.collection != null ? section.data.collection.id : ''}">
            <div class="row row-gutter section-neighbor goods-list">
                <div th:class="|col-md-${ section.settings.column} col-${section.settings.mobColumn}|" th:each="o,salt:${section.data.page.records}">
                    <a th:href="|${ site.urlPrefix }item/${o.seoUrl}|">
                        <div th:class="|card ${ section.settings.cardShadow ? '' : 'no-shadow'}|">
                            <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}|" th:if="${section.settings.imageLayout == 'top'}">
                              <img class="embed-responsive-item lazy card-img-top" th:src="${imageUrls.thumbnail(o.coverImage)}" th:data-original="${imageUrls.original(o.coverImage)}" th:alt="${o.title}">
                            </div>
                            <div class="card-body">
                               <div class="card-body-content text-center">
                                   <h3 class="text-content-heading">
                                        [[${o.title}]]
                                    </h3>
                                    <p class="text-body" th:if="${section.settings.subtitleVisible == true}">
                                        [[${o.subtitle}]]
                                    </p>
                               </div>
                                <div class="shop-now text-center">
                                    <button class="btn btn-primary">
                                        [[${lang.shopNow}]]
                                    </button>
                                    <label>
                                        [[${site.currencyCode}]] [[${site.currencySymbol}]] [[${o.minPrice}]][[${o.minPrice != o.maxPrice ? ' ~ ' : ''}]][[${o.minPrice != o.maxPrice ? o.maxPrice : ''}]]
                                    </label>
                                </div>
                            </div>
                            <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}|" th:if="${section.settings.imageLayout == 'bottom'}">
                              <img class="embed-responsive-item lazy card-img-top" th:src="${imageUrls.thumbnail(o.coverImage)}" th:data-original="${imageUrls.original(o.coverImage)}" th:alt="${o.title}">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="section-neighbor d-flex justify-content-center" th:if="${section.data.page.total > section.data.page.size}">
                [(${ section.settings.pagination })]
            </div>
            <div class="section-neighbor" th:if="${section.data.collection != null && not #strings.isEmpty(section.data.collection.description) && section.data.page.current == 1}">
                <div class="section-margin-top section-collection-describe" th:with="textLines = ${#strings.listSplit(section.data.collection.description,'\n')}">
                    <h3 class="text-content-heading">[[${ section.data.collection.title }]]</h3>
                    <th:block th:each="textLine,saltLine:${textLines}">
                        <p class="text-body" th:if="${not #strings.isEmpty(textLine)}" th:utext="${textLine}"></li>
                    </th:block>
                </div>
                <div class="section-collection-more">
                    <label th:text="${#strings.isEmpty(section.settings.summaryShow) ? 'Show More' : section.settings.summaryShow}"></label>
                    <label th:text="${#strings.isEmpty(section.settings.summaryClose) ? 'Hide' : section.settings.summaryClose}"></label>
                </div>
            </div>
        </div>
    </div>

    

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
