// Static DEMO instance styles; production uses variable.th.css.
.section-demo-INRvQj{
    background: #f7f7f7   ;
    
}




    
    .section-demo-INRvQj .section-title-divider {
        width: 100%;
    }
    
    


@media (min-width: 768px) {
    .section-demo-INRvQj .section-title [class^=text-] {
        width: 100%;
    }
}



.section-demo-INRvQj .section-title .has-line:after, .section-demo-INRvQj .section-title img {
    width: 5%;
}



.section-demo-INRvQj .media-icon i {
    
        font-size: 50px;
    
    
        color: #00ff00;
    
}



.section-demo-INRvQj img{
    width:100px;
}


.section-demo-INRvQj .media-body .text-content-heading {
    color: #ff0000;
}



.section-demo-INRvQj .media-body .text-body {
    color: #0000ff;
}
