// Static DEMO instance styles; production uses variable.th.css.
.section-demo-MJFFjm{
    background-color: #000;
}




    
        .section-demo-MJFFjm .MJFFjm-item-0 .section-title {
            background-color: #f1cfcf;
        }
    
    
        .section-demo-MJFFjm .MJFFjm-item-0 [class*="text-"] {
            color: green;
        }
    
    
        .section-demo-MJFFjm .MJFFjm-item-1 .section-title {
            background-color: #cff1db;
        }
    
    
        .section-demo-MJFFjm .MJFFjm-item-1 [class*="text-"] {
            color: blue;
        }
