.u6zEja {
	transition: all 0.5s;
	transition: all 0.5s;
	z-index: 20;
	position: relative;
}

.u6zEja-bar {
	background-color: #000;
	color: #fff;
	position: relative;
	overflow: hidden;
}

.u6zEja-bar .container {
	padding-top: 10px;
	padding-bottom: 10px;
}

.u6zEja-bar-close {
	font-family: "iconfont" !important;
	position: absolute;
	height: 40px;
	top: calc(50% - 20px);
	line-height: 40px;
	padding-left: 15px;
	cursor: pointer;
	padding-right: 15px;
	right: 0;
}

.u6zEja-bar-close:before {
	content: "\e60a";
}

.u6zEja .secondary-bar {
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.u6zEja .secondary-bar .container {
	display: flex;
}

.u6zEja .secondary-bar .container .secondary-bar-contact a,
      .u6zEja .secondary-bar .container .nav-link,
      .u6zEja .secondary-bar .container .section-drop .dropdown-toggle {
	color: #fff;
}

.u6zEja .secondary-bar .container .section-drop {
	margin-left: 15px;
}

.u6zEja .secondary-bar .container .section-drop .dropdown-toggle {
	line-height: 38px;
	font-size: 16px;
}

.u6zEja .secondary-bar .container a {
	transition: all 0.25s;
}

.u6zEja .secondary-bar .container a:not(.dropdown-item) {
	height: 38px;
	line-height: 28px;
}

.u6zEja .secondary-bar .container a:hover {
	color: var(--colorTheme);
}

.u6zEja .secondary-bar .container .secondary-bar-right {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

.u6zEja .secondary-bar .container .secondary-bar-right .nav-link {
	cursor: pointer;
}

.u6zEja .secondary-bar .container .secondary-bar-contact {
	margin-right: 5px;
}

.u6zEja .secondary-bar .container .secondary-bar-contact a {
	font-size: 16px;
	display: inline-block;
	line-height: 36px;
}

.u6zEja .secondary-bar .container .secondary-bar-contact a img {
	height: 16px;
	vertical-align: center;
}

.u6zEja .secondary-bar .container .secondary-bar-contact a:not(:last-child) {
	margin-right: 15px;
}

.u6zEja .secondary-bar .input-group {
	max-width: 200px;
}

.u6zEja .secondary-bar .input-group .form-control {
	border: 0;
}

.u6zEja .secondary-bar .input-group .input-group-append .btn {
	background: #fff;
	border: 0 !important;
}

.u6zEja .secondary-bar .input-group .input-group-append .btn:last-child {
	border-bottom-right-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.u6zEja .secondary-bar .input-group .input-group-append i {
	font-size: 14px !important;
}

.u6zEja nav {
	z-index: 991;
	padding-top: 0;
	padding-bottom: 0;
}

.u6zEja nav .navbar-brand {
	height: 68px;
	display: flex;
	align-items: center;
	position: relative;
	padding-right: 10px;
}

.u6zEja nav .navbar-brand img {
	max-height: 50px;
	margin-right: 10px;
	vertical-align: middle;
}

.u6zEja nav .nav-link,
    .u6zEja nav .navbar-brand,
    .u6zEja nav .dropdown-item {
	padding-right: 15px;
	padding-left: 15px;
	color: #333;
}

@media (max-width: 768px) {
	.u6zEja .section-drop {
		margin-left: 0 !important;
	}

	.u6zEja .section-drop .dropdown-toggle:before {
		display: none;
	}

	.u6zEja nav {
		background-color: #fff;
	}

	.u6zEja nav .nav-link {
		padding: 8px 36px 8px 0;
		line-height: 20px;
		border-bottom: 1px solid #e9ecef;
	}

	.u6zEja nav .navbar-brand {
		height: 50px;
		padding: 0;
	}

	.u6zEja nav .navbar-brand img {
		max-height: 30px;
	}

	.u6zEja nav .navbar-nav {
		border-top: 1px solid #e9ecef;
	}

	.u6zEja nav .dropdown-toggle:after {
		display: none;
	}

	.u6zEja nav .navbar-brand-fullView {
		display: none;
	}
}

@media (min-width: 768px) {
	.u6zEja nav .navbar-nav li {
		position: relative;
	}

	.u6zEja nav .navbar-nav li .nav-link {
		line-height: 52px;
	}

	.u6zEja nav .navbar-nav li .nav-link.active {
		background-color: var(--colorTheme);
	}

	.u6zEja nav .navbar-nav li:hover .nav-link:before {
		opacity: 1 !important;
	}

	.u6zEja.fixed-top nav {
		background-color: #fff;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
	}

	.u6zEja:not(.full-view) nav.logo-back:not(.logo-center) .container {
		position: relative;
	}

	.u6zEja:not(.full-view) nav.logo-back:not(.logo-center) .container:before {
		content: '';
		height: 100%;
		width: 100%;
		position: absolute;
		left: calc(-100% + 15px);
		top: 0;
		background-color: var(--colorTheme);
	}

	.u6zEja:not(.full-view) nav.logo-back:not(.logo-center) .container .navbar-brand {
		background-color: var(--colorTheme);
	}

	.u6zEja:not(.full-view) nav.logo-back:not(.logo-center) .container .navbar-brand:before {
		content: '';
		position: absolute;
		top: 0;
		left: 100%;
		border-top: 68px solid transparent;
		border-bottom: 0 solid transparent;
		border-left: 20px solid var(--colorTheme);
	}

	.u6zEja.full-view {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	.u6zEja.full-view nav .navbar-brand img {
		display: none;
	}

	.u6zEja.full-view nav .navbar-brand img.navbar-brand-fullView {
		display: inline-block;
	}

	.u6zEja.full-view.fixed-top nav .navbar-brand img {
		display: inline-block;
	}

	.u6zEja.full-view.fixed-top nav .navbar-brand img.navbar-brand-fullView {
		display: none;
	}

	.u6zEja.full-view:not(.fixed-top) nav {
		background: none !important;
	}
}

.u6zEja .logo-center .container {
	position: relative;
}

.u6zEja .logo-center .container .navbar-brand {
	padding-right: 0;
	margin-right: 0;
}

.u6zEja .logo-center .container .navbar-brand img {
	margin-right: 0;
}

@media (min-width: 1200px) {
	.u6zEja .logo-center .container .navbar-brand {
		top: 0;
		position: absolute;
		width: 25%;
		left: calc(50% - 12.5%);
		z-index: 11 !important;
		justify-content: center;
	}
}

@media (min-width: 1200px) {
	.u6zEja .logo-center .container .navbar-nav {
		margin-right: -0.5rem;
		margin-left: -0.5rem;
		position: relative;
		width: 100%;
		justify-content: flex-start !important;
	}

	.u6zEja .logo-center .container .navbar-nav .nav-item {
		width: 12.5%;
	}

	.u6zEja .logo-center .container .navbar-nav .nav-item:nth-of-type(3) {
		margin-right: 12.5%;
	}

	.u6zEja .logo-center .container .navbar-nav .nav-item:nth-of-type(n + 4) .nav-link {
		text-align: right;
	}

	.u6zEja .logo-center .container .navbar-nav .nav-item:nth-of-type(4) {
		margin-left: 12.5%;
	}

	.u6zEja .logo-center .container .navbar-nav .nav-item .nav-link {
		padding-left: 0;
		padding-right: 0;
	}
}

.u6zEja:not(.full-view) nav {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
// Demo-only instance selector; does not affect real page IDs.
@import "demo";
