// Static DEMO instance styles; production uses variable.th.css.
.section-demo-vyM7ry{
    background: #f3d1cb   ;
    
}





.section-demo-vyM7ry .vyM7ry-digit{
    color: #ff0000;
}





.section-demo-vyM7ry .vyM7ry-item:not(:last-child){
    border-color: rgba(255,255,255,.3);
}
