// Static DEMO instance styles; production uses variable.th.css.
.section-demo-MRBrYr{
    background: rgba(248,240,223,1)   ;
    
}



.section-demo-MRBrYr .text-heading {
    color:#ff0000;
}


.section-demo-MRBrYr .text-subheading {
    color:#f3800c;
}


.section-demo-MRBrYr .text-body, .section-demo-MRBrYr .text-body * {
    color:#b5e505;
}
