<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
        <div class="row">
            <div th:class="|col-md-${section.settings.contentWidth}|">
                <h5 class="text-heading" th:if="${ not #strings.isEmpty(section.settings.subheading) }">
                    [[${ section.settings.subheading }]]
                </h5>
                <div class="row text-neighbor" th:if="${ not #lists.isEmpty(section.settings.eventList) }">
                    <div class="col-md col-12" th:each="o,stat:${ section.settings.eventList }">
                        <div th:class="|${ section.templateId }-content|">
                            <label th:class="|${ section.templateId }-digit|" th:data-count-digit="${o.digit}">
                                [[${o.digit}]]
                            </label>
                            <sub th:class="|${ section.templateId }-unit|" th:if="${not #strings.isEmpty(o.unit)}">[[${o.unit}]]</sub>
                            <p class="text-body" th:if="${not #strings.isEmpty(o.describe)}">
                                [[${o.describe}]]
                            </p>
                        </div>
                    </div>
                </div>
                <h3 class="text-heading text-neighbor" th:if="${ not #strings.isEmpty(section.settings.heading) }">
                    [[${ section.settings.heading }]]
                </h3>

                <th:block th:if="${not #strings.isEmpty(section.settings.content)}" th:with="textLines = ${#strings.listSplit(section.settings.content,'\n')}">
                    <th:block th:each="textLine,saltLine:${textLines}">
                        <p class="text-body" th:if="${not #strings.isEmpty(textLine)}" th:utext="${textLine}"></p>
                    </th:block>
                </th:block>
                <p class="text-btn" th:if="${ section.settings.buttonStyle != 'invisible' && not #strings.isEmpty(section.settings.buttonLink) && not #strings.isEmpty(section.settings.buttonLabel) }">
                    <a th:class="|btn ${ section.settings.buttonStyle }|" th:href="${ section.settings.buttonLink }">
                        [[${ section.settings.buttonLabel }]]
                    </a>
                </p>
            </div>
            <div th:class="|col-md-${#numbers.formatInteger(12 - section.settings.contentWidth, 1,'POINT')}|">
                <img class="btn-block lazy" th:src="|${section.settings.image}!1|" th:data-original="${section.settings.image}" th:alt="${ not #strings.isEmpty(section.settings.alt) ? section.settings.alt : section.settings.heading }" th:if="${ not #strings.isEmpty(section.settings.image) }">
            </div>
        </div>
    </div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
