<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
        <div class="row row-gutter">
            <div th:class="|col-md-${#numbers.formatInteger(12 - section.settings.percentage, 1,'POINT')} ${ section.templateId }-content ${section.settings.layout == 'right' ? '' : 'order-2'}|">
                <div th:class="|text-${section.settings.textAlign} section-title section-neighbor|" th:if="${not #strings.isEmpty(section.settings.heading)
                       || not #strings.isEmpty(section.settings.content)
                       || section.settings.dividerWidth > 0
                       }">
                    <h3 class="text-heading" th:if="${ not #strings.isEmpty(section.settings.heading) }">
                        [[${ section.settings.heading }]]
                    </h3>

                    <div th:class="|section-title-divider ${section.settings.textAlign}${section.settings.dividerStyle == 'image' && not #strings.isEmpty(section.settings.dividerImage) ? ' has-image' : ' has-line'}|" th:if="${ section.settings.dividerWidth > 0 }">
                        <img th:src="${section.settings.dividerImage}" alt="" th:if="${ section.settings.dividerStyle == 'image' && not #strings.isEmpty(section.settings.dividerImage) }">
                    </div>

                    <p th:class="|text-body ${ section.settings.contentAlign}|" th:if="${ not #strings.isEmpty(section.settings.content) }" th:utext="${#strings.replace(section.settings.content,'\n','<br>')}"></p>
                </div>
                <div class="row section-neighbor" th:if="${#lists.size(section.settings.contentList) > 0}">
                    <div th:class="|media col-md-${section.settings.column} col-${section.settings.mobColumn}|" th:each="o, salt:${ section.settings.contentList }">
                        <img th:src="${o.icon}" th:if="${ not #strings.isEmpty(o.icon)}">
                        <div class="media-body">
                            <h3 class="text-content-heading" th:if="${ not #strings.isEmpty(o.title)}">
                                [[${ o.title }]]
                            </h3>
                            <p class="text-body" th:if="${ not #strings.isEmpty(o.description)}" th:utext="${#strings.replace(o.description,'\n','<br>')}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div th:class="|col-md-${ section.settings.percentage } ${ section.templateId }-img|">
                <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}" th:if="${ #lists.size(section.settings.imageList) == 1 }">
                    <img class="embed-responsive-item lazy" th:src="|${ section.settings.imageList[0].image }!1|" th:data-original="|${section.settings.imageList[0].image}!${section.settings.wideScreen ? 'f' : ''}${section.settings.percentage}|" th:alt="${ section.settings.imageList[0].alt }">
                </div>
                <div class="slick" th:with="hasDot = ${ #lists.size(section.settings.imageList) > 1 }" th:if="${ #lists.size(section.settings.imageList) > 1 }">
                    <div th:class="|slick-arrow slick-next ${section.settings.carouselArrowStyle} ${hasDot  ? 'dots' : ''}|" th:data-carousel-next="${ section.id }" th:if="${ section.settings.carouselArrowStyle != 'invisible' && hasDot}"></div>
                    <div th:class="|slick-arrow slick-prev ${section.settings.carouselArrowStyle} ${hasDot  ? 'dots' : ''}|" th:data-carousel-prev="${ section.id }" th:if="${ section.settings.carouselArrowStyle != 'invisible' && hasDot}"></div>
                    <div th:class="|slick-slider dots-${section.settings.carouselNavStyle} arrow-${section.settings.carouselArrowStyle}|"
                         th:data-carousel="${ section.id }"
                         th:data-effect="${ #strings.isEmpty(section.settings.carouselEffect) ? 'fade' : section.settings.carouselEffect }"
                         th:data-dots="${hasDot  ? 1 : 0}"
                         th:data-arrow="${hasDot  ? 1 : 0}"
                         th:data-column="1"
                         th:data-mobile-column="1"
                         th:data-delay="${ #strings.isEmpty(section.settings.autoPlay) ? 6000 : section.settings.autoPlay }"
                        >
                        <div th:class="|slick-slide slick-slide-${salt.index}|" th:each="o, salt:${ section.settings.imageList }">
                            <div th:class="|embed-responsive embed-responsive-${ section.settings.imageScale == 'normal' ? '1by1' : section.settings.imageScale }|">
                                <img class="embed-responsive-item lazy" th:src="|${ o.image }!1|" th:data-lazy="|${ o.image }|" th:alt="${ o.alt }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
