// Static DEMO instance styles; production uses variable.th.css.
.section-demo-f7Q7fe {
    
        background-color: #000000;
    
    
    height: calc(100vh - 100px);
    
}



.section-demo-f7Q7fe video{
    opacity: 0.5
}
