// Static DEMO instance styles; production uses variable.th.css.
.section-demo-E2J32a{
    background: #ff0000   ;
    
}



.section-demo-E2J32a .text-secondary {
    color:#d26a15!important;
}


.section-demo-E2J32a .text-heading {
    color:#d2c806!important;
}


.section-demo-E2J32a .text-body {
    color:#1ad023!important;
}


.section-demo-E2J32a .row:before,.section-demo-E2J32a .row .col-md-6:nth-of-type(odd):before {
    background-color:#099ca9;
}
