// Static DEMO instance styles; production uses variable.th.css.
.section-demo-uABjim .uABjim-0 [class^=text-] {
            color: #ff0000;
        }
    
    
        .section-demo-uABjim .uABjim-0 [class^=text-] a {
            color: #ffff00;
        }
    
    
        .section-demo-uABjim .uABjim-1 [class^=text-] {
            color: #00ff00;
        }
    
    
        .section-demo-uABjim .uABjim-1 [class^=text-] a {
            color: #00ffff;
        }
    
    
    
    
    
    
    



    .section-demo-uABjim .embed-responsive-item {
        
            border-radius: 2px;
        
        
            border:1px solid #ff0000;
        
     }
