// Static DEMO instance styles; production uses variable.th.css.
.section-demo-jAVbYj .bread-crumb {
        background-color: #fff000;
    }


    .section-demo-jAVbYj .bread-crumb * {
        color: #ff0000;
    }


  .section-demo-jAVbYj .section-container {
          background: #ffff00   ;
      
  }



    .section-demo-jAVbYj .card-body {
        background-color: #0000ff;
    }



    .section-demo-jAVbYj .card-body, .section-demo-jAVbYj .text-content-heading {
        color: #ff00ff;
    }
