<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''} ${section.templateId} section-${section.id} |" th:data-section="${section.templateId}">
    <div th:class="|bread-crumb ${section.settings.h1Layout}|" th:if="${section.settings.h1Layout != 'invisible' || section.settings.enableCrumb}">
        <div th:class="|container${section.settings.h1Wide ? '-fluid' : ''}${section.settings.enableCrumb ? '' : ' solo'}|">
            <h1 class="text-heading" th:if="${section.settings.h1Layout != 'invisible' && section.settings.h1Layout != 'bottom'}">
                [[${ page.seoH1 }]]
            </h1>
            <ol class="breadcrumb" th:if="${section.settings.enableCrumb}">
                <li class="breadcrumb-item">
                    <a th:href="${site.urlPrefix}">
                    [[${ lang.global.home }]]
                    </a>
                </li>
                <li class="breadcrumb-item" th:if="${ lang != null && not #strings.isEmpty(lang.heading) }">
                    <a th:href="|${site.urlPrefix}products|">
                        [[${ lang.heading }]]
                    </a>
                </li>
                <li class="breadcrumb-item">
                    [[${ page.seoH1 }]]
                </li>
            </ol>
            <h1 class="text-heading" th:if="${section.settings.h1Layout != 'invisible' && section.settings.h1Layout == 'bottom'}">
                [[${ page.seoH1 }]]
            </h1>
        </div>
    </div>
    <div th:class="|section-container${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''}|">
        <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''} ${section.templateId}-container|">
            <div th:class="|row row-gutter ${section.templateId}-tile|" th:if="${section.settings.layout == 'tile'}">
                <div th:each="o,salt:${section.data.collectionList}" th:class="|col-md-${section.settings.column} col-${section.settings.mobColumn}|">
                    <a th:href="|${site.urlPrefix}collection/${o.seoUrl}|">
                        <div class="card section-card">
                            <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}|">
                                <img class="embed-responsive-item card-img-top lazy" th:src="${imageUrls.thumbnail(not #strings.isEmpty(o.coverImage) ? o.coverImage : '/theme/img/8.jpg')}" th:data-original="${imageUrls.original(not #strings.isEmpty(o.coverImage) ? o.coverImage : '/theme/img/8.jpg')}" th:alt="${o.title}">
                            </div>
                            <div th:class="|card-body ${section.settings.textAlign}|">
                                <h3 class="text-content-heading" th:text="${o.title}"></h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row row-gutter" th:if="${section.settings.layout != 'tile'}">
                <div th:each="o,salt:${section.data.collectionList}" th:class="|col-md-${section.settings.column} col-${section.settings.mobColumn}|">
                    <a th:href="|${site.urlPrefix}collection/${o.seoUrl}|">
                        <div th:class="|${section.templateId}-list|">
                            <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}|">
                                <img class="embed-responsive-item lazy card-img-top" th:src="${imageUrls.thumbnail(not #strings.isEmpty(o.coverImage) ? o.coverImage : '/theme/img/8.jpg')}" th:data-original="${imageUrls.original(not #strings.isEmpty(o.coverImage) ? o.coverImage : '/theme/img/8.jpg')}" th:alt="${o.title}">
                                <div th:class="|${section.templateId}-list-content|">
                                    <h3 class="text-content-heading">
                                        [[${o.title}]]
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
