// Static DEMO instance styles; production uses variable.th.css.
.section-demo-fmMz2y{
    background: #f2f2f2   ;
    
}



.section-demo-fmMz2y .text-body {
    color: #ff0000;
}



.section-demo-fmMz2y .text-heading {
    color: #737bd9;
}
.section-demo-fmMz2y .text-heading:before  {
    background-color: #737bd9;
}




.section-demo-fmMz2y .text-left .text-small:before  {
    background-color: #d97373;
}



.section-demo-fmMz2y .text-small  {
    color: #73d981;
}
