[# th:if="${not #strings.isEmpty(section.settings.backgroundColor) || not #strings.isEmpty(section.settings.backgroundImage)}"]
.section-[[${ section.id }]]{
    background: [[${section.settings.backgroundColor}]] [# th:if="${not #strings.isEmpty(section.settings.backgroundImage)}"] url("[[${imageUrls.original(section.settings.backgroundImage)}]]")[/] [[${section.settings.backgroundRepeat}]] [[${section.settings.backgroundPosition}]];
    [# th:if="${not #strings.isEmpty(section.settings.backgroundSize)}"]
    background-size: [[${section.settings.backgroundSize}]];
    [/]
}
[/]

[# th:if="${not #strings.isEmpty(section.settings.subColor)}"]
.section-[[${ section.id }]] .[[${ section.templateId }]]-since {color:[[${section.settings.subColor}]];}
.section-[[${ section.id }]] .[[${ section.templateId }]]-since:before{
    border-color: [[${ section.settings.subColor }]];;
}
[/]
[# th:if="${not #strings.isEmpty(section.settings.lineColor)}"]
    .section-[[${ section.id }]] .[[${ section.templateId }]]-line-text {-webkit-text-stroke-color:[[${section.settings.lineColor}]];}
[/]
[# th:if="${not #strings.isEmpty(section.settings.headingColor)}"]
    .section-[[${ section.id }]] .section-title .text-heading {color:[[${section.settings.headingColor}]];}
[/]
[# th:if="${not #strings.isEmpty(section.settings.headingLabelColor)}"]
    .section-[[${ section.id }]] .section-title .text-heading b{color:[[${section.settings.headingLabelColor}]];}
[/]