// Static DEMO instance styles; production uses variable.th.css.
.section-demo-e6zuQr{
    background: #ffe0e0   ;
    
}



.section-demo-e6zuQr [class*="text-"],.section-demo-e6zuQr .text-ul li a,.section-demo-e6zuQr .text-ul li {
    color: #ffff00;
}



.section-demo-e6zuQr .e6zuQr-content {
    background-color: rgba(199,17,17,0.5);
}
