// Static DEMO instance styles; production uses variable.th.css.
.section-demo-iIbeMb .iIbeMb-0  {
            
                background-color: #ff0000;
            
            
                color: #ffff00;
            
        }
    
    
        .section-demo-iIbeMb .iIbeMb-1  {
            
                background-color: #046e15;
            
            
                color: #00ff00;
            
        }
    
    
        .section-demo-iIbeMb .iIbeMb-2  {
            
                background-color: #ff0000;
            
            
                color: #ffff00;
            
        }
    
    
        .section-demo-iIbeMb .iIbeMb-3  {
            
                background-color: #046e15;
            
            
                color: #00ff00;
            
        }
    



.section-demo-iIbeMb  img {
    width: 250px;
}
