// Static DEMO instance styles; production uses variable.th.css.
.section-demo-baQVBf .text-heading {
        color:#ff0000;
    }


    .section-demo-baQVBf .text-body, .section-demo-baQVBf .text-body * {
        color:#dfb6e8;
    }


    .section-demo-baQVBf .baQVBf-card {
        background-color:#ffff00;
    }
