<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
        <div th:class="|text-${section.settings.textAlign} section-title section-neighbor|" th:if="${not #strings.isEmpty(section.settings.heading)
            || not #strings.isEmpty(section.settings.subheading)
            || not #strings.isEmpty(section.settings.content)
            || section.settings.dividerWidth > 0
            }"
           >
            <h3 class="text-heading" th:if="${ not #strings.isEmpty(section.settings.heading) }">
                [[${ section.settings.heading }]]
            </h3>

            <div th:class="|section-title-divider ${section.settings.textAlign}${section.settings.dividerStyle == 'image' && not #strings.isEmpty(section.settings.dividerImage) ? ' has-image' : ' has-line'}|" th:if="${ section.settings.dividerWidth > 0 }">
                <img th:src="${imageUrls.original(section.settings.dividerImage)}" alt="" th:if="${ section.settings.dividerStyle == 'image' && not #strings.isEmpty(section.settings.dividerImage) }">
            </div>

            <h5 class="text-subheading" th:if="${ not #strings.isEmpty(section.settings.subheading) }">
                [[${ section.settings.subheading }]]
            </h5>
            <ul th:class="${section.settings.symbol}" th:if="${not #strings.isEmpty(section.settings.content)}" th:with="textLines = ${#strings.listSplit(section.settings.content,'\n')}">
                <th:block th:each="textLine,saltLine:${textLines}">
                    <li class="text-body" th:if="${not #strings.isEmpty(textLine)}" th:utext="${textLine}"></li>
                </th:block>
            </ul>
        </div>
        <div class="row row-gutter section-neighbor" th:if="${ #lists.isEmpty(section.settings.sidebarList) || #lists.size(section.settings.sidebarList) > 0}">
            <div th:class="|col-md-${section.settings.column} col-${section.settings.mobColumn}|" th:each="o, salt:${ section.settings.imageList }">
                <a th:class="|embed-responsive embed-responsive-${section.settings.imageScale} spotlight|" th:href="${imageUrls.original(o.image)}" th:if="${ not #strings.isEmpty(o.image) }">
                    <img class="embed-responsive-item lazy" th:src="${imageUrls.thumbnail(o.image)}" th:data-original="${imageUrls.original(o.image)}" th:alt="${ o.alt }">
                </a>
                <h5 class="text-body text-center" th:if="${ #strings.isEmpty(o.url) }">[[${ o.title }]]</h5>
                <a th:href="${o.url}" th:if="${ not #strings.isEmpty(o.url) && not #strings.isEmpty(o.title) }">
                    <h5 class="text-body text-center">[[${ o.title }]]</h5>
                </a>
            </div>
        </div>
        <div class="row row-gutter section-neighbor" th:if="${not #lists.isEmpty(section.settings.sidebarList) && #lists.size(section.settings.sidebarList) > 0}">
            <div class="col-md-3 sidebar">
                <h3>[[${section.settings.sidebarHeading}]]</h3>
                <ul class="sidebar-catalog">
                    <li th:each="o, salt:${ section.settings.sidebarList }">
                        <a th:class="${o.sideActive ? 'active' : ''}" th:href="${o.sideLink}">[[${o.sideTitle}]]</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div th:class="|col-md-${section.settings.column} col-${section.settings.mobColumn}|" th:each="o, salt:${ section.settings.imageList }">
                        <a th:class="|embed-responsive embed-responsive-${section.settings.imageScale} spotlight|" th:href="${imageUrls.original(o.image)}" th:if="${ not #strings.isEmpty(o.image) }">
                            <img class="embed-responsive-item lazy" th:src="${imageUrls.thumbnail(o.image)}" th:data-original="${imageUrls.original(o.image)}" th:alt="${ o.alt }">
                        </a>
                        <h5 class="text-body text-center" th:if="${ #strings.isEmpty(o.url) }">[[${ o.title }]]</h5>
                        <a th:href="${o.url}" th:if="${ not #strings.isEmpty(o.url) && not #strings.isEmpty(o.title) }">
                            <h5 class="text-body text-center">[[${ o.title }]]</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
