// Static DEMO instance styles; production uses variable.th.css.
.section-demo-EFRVbm{
    background: #fffaf3   ;
    
}



.section-demo-EFRVbm .EFRVbm-since {color:#090b9b;}
.section-demo-EFRVbm .EFRVbm-since:before{
    border-color: #090b9b;;
}


    .section-demo-EFRVbm .EFRVbm-line-text {-webkit-text-stroke-color:#f50000;}


    .section-demo-EFRVbm .text-heading {color:#1c9d0d;}


    .section-demo-EFRVbm .text-heading b{color:#067053;}



    .section-demo-EFRVbm .EFRVbm-info{background-color:#fafced;}


    .section-demo-EFRVbm .EFRVbm-info p{color:#7d8a08;}
