[# th:if="${not #strings.isEmpty(section.settings.backgroundColor) || not #strings.isEmpty(section.settings.backgroundImage)}"]
.section-[[${ section.id }]]{
    background: [[${section.settings.backgroundColor}]] [# th:if="${not #strings.isEmpty(section.settings.backgroundImage)}"] url("[[${section.settings.backgroundImage}]]")[/] [[${section.settings.backgroundRepeat}]] [[${section.settings.backgroundPosition}]];
    [# th:if="${not #strings.isEmpty(section.settings.backgroundSize)}"]
    background-size: [[${section.settings.backgroundSize}]];
    [/]
}
[/]

[# th:if="${not #strings.isEmpty(section.settings.sinceColor)}"]
.section-[[${ section.id }]] .EFRVbm-since {color:[[${section.settings.sinceColor}]];}
.section-[[${ section.id }]] .EFRVbm-since:before{
    border-color: [[${ section.settings.sinceColor }]];;
}
[/]
[# th:if="${not #strings.isEmpty(section.settings.lineColor)}"]
    .section-[[${ section.id }]] .EFRVbm-line-text {-webkit-text-stroke-color:[[${section.settings.lineColor}]];}
[/]
[# th:if="${not #strings.isEmpty(section.settings.headingColor)}"]
    .section-[[${ section.id }]] .text-heading {color:[[${section.settings.headingColor}]];}
[/]
[# th:if="${not #strings.isEmpty(section.settings.headingLabelColor)}"]
    .section-[[${ section.id }]] .text-heading b{color:[[${section.settings.headingLabelColor}]];}
[/]

[# th:if="${not #strings.isEmpty(section.settings.contentBackground)}"]
    .section-[[${ section.id }]] .EFRVbm-info{background-color:[[${section.settings.contentBackground}]];}
[/]
[# th:if="${not #strings.isEmpty(section.settings.contentColor)}"]
    .section-[[${ section.id }]] .EFRVbm-info p{color:[[${section.settings.contentColor}]];}
[/]