// Static DEMO instance styles; production uses variable.th.css.
.section-demo-R7jIra .R7jIra-0 .R7jIra-row{
        background: #ffff00  url("/preview-assets/images/banner.og.jpg")  center center;
        
        background-size: cover;
        
    }
    

    
    
    
        .section-demo-R7jIra .R7jIra-0 .text-body,
        .section-demo-R7jIra .R7jIra-0 li {
            color: #0d51b7;
        }
    

    

    
        .section-demo-R7jIra .R7jIra-0 .R7jIra-area {
            background-color: rgba(161,8,8,0.8);
        }
    

    
        .section-demo-R7jIra .section-title .has-line:after, .section-demo-R7jIra .section-title img {
            width: 20%;
        }
    
    

    
    
    .section-demo-R7jIra .R7jIra-1 .R7jIra-row{
        background: orange   ;
        
    }
    

    
    
    

    

    
        .section-demo-R7jIra .R7jIra-1 .R7jIra-area {
            background-color: rgba(18,137,148,0.8);
        }
    

    
    

    
    
    .section-demo-R7jIra .R7jIra-2 .R7jIra-row{
        background: yellow   ;
        
    }
    

    
    
    

    

    
        .section-demo-R7jIra .R7jIra-2 .R7jIra-area {
            background-color: rgba(62,94,8,0.8);
        }
