// Static DEMO instance styles; production uses variable.th.css.
.section-demo-vaAfam .vaAfam-avatar .text-heading {
    color:#ff0000;
}


.section-demo-vaAfam .vaAfam-avatar p {
    color:#dc635e;
}


.section-demo-vaAfam .vaAfam-container {
    background-image: linear-gradient(0deg, #ffff00, #ff0000);
}























    
        .section-demo-vaAfam [data-group='info-0'] {
            background-color: rgb(255,241,241);
        }
    
    
        .section-demo-vaAfam [data-group='spec-1'] {
            background-color: #a60f0f;
        }
    
    
        .section-demo-vaAfam [data-group='description-2'] {
            background-color: #e8b0b0;
        }
    
    
        .section-demo-vaAfam [data-group='related-3'] {
            background-color: #e8bdf6;
        }
    




.section-demo-vaAfam .vaAfam-spec .text-heading{color:#ffff00}



.section-demo-vaAfam .vaAfam-spec .text-content-heading{color:#cbcb39}



.section-demo-vaAfam .vaAfam-spec h5.text-body{color:#838311}



.section-demo-vaAfam .vaAfam-spec p.text-body{
    color:#565606;
    opacity:1;
}



.section-demo-vaAfam .vaAfam-description .nav-tabs  {
    background-color: #000000;
}



.section-demo-vaAfam .vaAfam-description .nav-tabs .nav-item {
    color:#ffffff;
}



.section-demo-vaAfam .vaAfam-description .nav-tabs .nav-item.active {
    
        background-color:#ff0000;
    
    
        color:#ffff00;
    
}




.section-demo-vaAfam .vaAfam-related .section-title .text-subheading {
    color:red;
}



.section-demo-vaAfam .vaAfam-related .section-title .text-heading {
    color:blue;
}



.section-demo-vaAfam .vaAfam-related .section-title .text-body {
    color:green;
}
