<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
	<div th:class="|${ section.templateId }-container${not #strings.isEmpty(section.data.page.qrcode) && section.settings.banner == 'visible' ? ' active' : ''}|" th:id="|${ section.templateId }-overview|">
		<div th:class="|${ section.templateId }-navigation|">
			<div th:class="|container${section.settings.h1Wide ? '-fluid' : ''}|">
				<h1 class="d-md-block d-none navigation-h3" th:if="${!section.settings.h1Visible}">
				    [[${ page.seoH1 }]]
				</h1>
				<h3 class="d-md-block d-none navigation-h3" th:if="${section.settings.h1Visible}">
				    [[${section.data.page.title}]]
				</h3>
				<div th:class="|${ section.templateId }-navigation-right|">
                    <ul th:class="|d-md-flex ${ section.templateId }-anchor d-none|">
                        <th:block th:each="o,salt:${section.settings.layoutGroup}">
                            <li th:data-anchor="|${o.moduleType}-${salt.index}|" th:class="${salt.index == 0 ? 'active' : ''}" th:if="${!(o.moduleType == 'spec' || o.moduleType == 'related' || o.moduleType == 'description')}">
                                [[${o.moduleName}]]
                            </li>
                            <li th:data-anchor="|${o.moduleType}-${salt.index}|" th:class="${salt.index == 0 ? 'active' : ''}" th:if="${o.moduleType == 'spec' && #lists.size( section.data.page.specList) > 0}">
                                [[${o.moduleName}]]
                            </li>
                            <li th:data-anchor="|${o.moduleType}-${salt.index}|" th:class="${salt.index == 0 ? 'active' : ''}" th:if="${o.moduleType == 'related' && #lists.size( section.data.page.relevance.neighborList) > 0}">
                                [[${o.moduleName}]]
                            </li>
                            <li th:data-anchor="|${o.moduleType}-${salt.index}|" th:class="${salt.index == 0 ? 'active' : ''}" th:if="${o.moduleType == 'description' && (not #strings.isEmpty(section.data.page.description) || not #lists.isEmpty(section.data.page.blockList))}">
                                [[${o.moduleName}]]
                            </li>
                        </th:block>
                    </ul>
					<div class="section-drop dropdown d-md-none d-block">
						<label class="dropdown-toggle">
							[[${lang.description}]]
						</label>
						<ul class="dropdown-menu">
						    <th:block th:each="o,salt:${section.settings.layoutGroup}">
                                <li class="dropdown-item" th:data-anchor="|${o.moduleType}-${salt.index}|" th:if="${!(o.moduleType == 'spec' || o.moduleType == 'related' || o.moduleType == 'description')}">
                                    [[${o.moduleName}]]
                                </li>
                                <li class="dropdown-item" th:data-anchor="|${o.moduleType}-${salt.index}|" th:if="${o.moduleType == 'spec' && #lists.size( section.data.page.specList) > 0}">
                                    [[${ lang.specification }]]
                                </li>
                                <li class="dropdown-item" th:data-anchor="|${o.moduleType}-${salt.index}|" th:if="${o.moduleType == 'related' && #lists.size( section.data.page.relevance.neighborList) > 0}">
                                    [[${ lang.related }]]
                                </li>
                                <li class="dropdown-item" th:data-anchor="|${o.moduleType}-${salt.index}|" th:if="${o.moduleType == 'description' && (not #strings.isEmpty(section.data.page.description) || not #lists.isEmpty(section.data.page.blockList))}">
                                    [[${o.moduleName}]]
                                </li>
							</th:block>
						</ul>
					</div>
                    <div class="enquiry-link" th:if="${ not #strings.isEmpty(section.settings.enquiryLink) && section.settings.enquiryStyle != 'invisible'}">
                         <a th:href="${ section.settings.enquiryLink }" th:class="|btn ${ section.settings.enquiryStyle }|">
                            [[${ not #strings.isEmpty(section.settings.enquiryLabel) ? section.settings.enquiryLabel : lang.contactUs }]]
                        </a>
                    </div>
				</div>
			</div>
		</div>
		<div th:class="|${ section.templateId }-avatar|" th:if="${not #strings.isEmpty(section.data.page.qrcode) && section.settings.banner == 'visible'}">
			<img class="lazy" th:src="${section.data.page.qrcode}" th:data-original="${section.data.page.qrcode}" th:alt="${section.data.page.title}" th:if="${not #strings.isEmpty(section.data.page.qrcode)}">
			<div th:class="|${ section.templateId }-avatar-title|" th:if="${section.settings.h1Visible || section.settings.subtitleVisible}">
				<div class="container">
                    <h1 class="text-heading" th:if="${section.settings.h1Visible}">
                        [[${ page.seoH1 }]]
                    </h1>
                    <p class="text-body" th:if="${section.settings.subtitleVisible}">[[${section.data.page.subtitle}]]</p>
				</div>
			</div>
		</div>
	</div>

	<th:block th:each="layoutModel,layoutSalt:${section.settings.layoutGroup}">
        <div th:class="|${ section.templateId }-${ layoutModel.moduleType } ${layoutModel.moduleMarginTop ? ' section-margin-top': ''}${layoutModel.moduleMarginBottom ? ' section-margin-bottom': ''}${layoutModel.modulePaddingTop ? ' section-padding-top': ''}${layoutModel.modulePaddingBottom ? ' section-padding-bottom': ''}|"
            th:data-group="|${layoutModel.moduleType}-${ layoutSalt.index }|" th:if="${ section.settings.paramVisible != 'invisible' && layoutModel.moduleType == 'info' }">
            <div th:class="|container${layoutModel.moduleWide ? '-fluid' : ''} ${ section.templateId }-info ${section.settings.imageLayout}|">
                <div class="row">
                    <div th:class="|col-md-${ section.settings.imagePercent } ${ section.templateId }-info-item ${section.settings.imageLayout } ${ section.settings.imageLayout == 'right' ? 'order-2' : ' ' }|" th:if="${ section.settings.imagePercent < 12 }">
                        <div class="slick" th:if="${ section.settings.imagePercent < 12 && ( #lists.size( section.data.page.imageList) > 0  ) }">
                            <div class="slick-next slick-arrow dark dots" th:data-carousel-next="${ section.id }" th:if="${#lists.size( section.data.page.imageList) > 1}"></div>
                            <div class="slick-prev slick-arrow dark dots" th:data-carousel-prev="${ section.id }" th:if="${#lists.size( section.data.page.imageList) > 1}"></div>
                            <div class="slick-slider cover-border slick-slider-transect dots-invisible"
                                 th:data-carousel="${ section.id }"
                                 data-effect="fade"
                                 data-dots="0"
                                 data-arrow="0"
                                 data-column="1"
                                 data-mobile-column="1"
                                 data-quantity="1"
                                 data-delay="0"
                                 th:data-carousel-for="|thumbnai-${ section.id }|"
                            >
                                <div class="slick-slide slick-slider-video" th:if="${ not #strings.isEmpty(section.data.page.coverVideo) }">
                                    <div data-player th:class="|embed-responsive ${ section.settings.imageScale == 'miracle' ? 'embed-responsive-1by1 miracle' : 'embed-responsive-' + section.settings.imageScale }|">
                                        <div class="embed-responsive-player embed-responsive-item"></div>
                                        <img th:if="${#lists.size( section.data.page.imageList) > 0}" class="embed-responsive-item" th:src="${imageUrls.thumbnail(section.data.page.imageList[0].url)}" th:data-lazy="${imageUrls.original(section.data.page.imageList[0].url)}" th:alt="${section.data.page.imageList[0].title}">
                                        <video class="embed-responsive-item embed-responsive-video video-iframe" th:data-video="${section.data.page.coverVideo}" controls="controls" th:if="${not #strings.contains(section.data.page.coverVideo,'youtube.com')}"></video>
                                        <iframe class="embed-responsive-item embed-responsive-video" th:data-video="|${section.data.page.coverVideo}?autoplay=1&loop=1|" allowfullscreen th:if="${#strings.contains(section.data.page.coverVideo,'youtube.com')}"></iframe>
                                    </div>
                                </div>
                                <div class="slick-slide" th:each="o,salt:${ section.data.page.imageList}">
                                    <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale == 'miracle' ? '1by1' : section.settings.imageScale}|" th:data-src="${o.url}">
                                        <img th:class="|embed-responsive-item${section.settings.imageScale == 'miracle' ? ' miracle' : ''}|" data-image="1" th:src="${imageUrls.thumbnail(o.url)}" th:data-lazy="${imageUrls.original(o.url)}" th:alt="${o.title}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slick slick-thumbnai">
                            <div class="slick-next slick-arrow dark dots" th:data-carousel-next="|thumbnai-${ section.id }|" th:if="${#lists.size( section.data.page.imageList) > 7}"></div>
                            <div class="slick-prev slick-arrow dark dots" th:data-carousel-prev="|thumbnai-${ section.id }|" th:if="${#lists.size( section.data.page.imageList) > 7}"></div>
                            <div class="slick-slider slick-slider-transect "
                                 th:data-carousel="|thumbnai-${ section.id }|"
                                 th:data-carousel-for="${ section.id }"
                                 data-effect="slide"
                                 th:data-dots="0"
                                 data-arrow="0"
                                 data-column="7"
                                 data-mobile-column="7"
                                 data-quantity="1"
                                 data-delay="0"
                            >
                                <div class="slick-slide slick-slider-video" th:if="${ not #strings.isEmpty(section.data.page.coverVideo) }">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <div class="embed-responsive-item slick-slider-player"></div>
                                    </div>
                                </div>
                                <div class="slick-slide" th:each="o,salt:${ section.data.page.imageList}">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <img class="embed-responsive-item" data-image="1" th:src="${imageUrls.thumbnail(o.url)}" th:data-lazy="${imageUrls.original(o.url)}" th:alt="${o.title}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:class="|col-md-${ #numbers.formatInteger(12 - (section.settings.imagePercent == 12 ? 7 : section.settings.imagePercent), 1,'POINT') } ${ section.templateId }-info-item ${section.settings.imageLayout }|">
                        <h3 class="text-heading">
                            [[${section.data.page.title}]]
                        </h3>
                        <div th:class="|${ section.templateId }-section|" th:if="${not #lists.isEmpty(section.data.page.specList) && section.settings.specLayout == 'right'}">
                            <table class="table table-spec">
                                <tr th:each="o,salt:${section.data.page.specList}">
                                    <th th:if="${o.leaf == 1}" colspan="2" th:text="${o.key}"> </th>
                                    <td th:if="${o.leaf == 0}" th:text="${o.key}"> </td>
                                    <td th:if="${o.leaf == 0}" th:text="${o.value}"></td>
                                </tr>
                            </table>
                        </div>

                        <div th:class="|${ section.templateId }-section|" th:if="${ #lists.size(section.data.page.summaryList) > 0 && section.settings.summaryVisible != 'invisible'}">
                            <p th:class="|${ section.templateId }-line text-body|" th:if="${ #lists.size(section.data.page.summaryList) == 1 }">
                                [[${section.data.page.summaryList[0]}]]
                            </p>
                            <ul th:class="|${ section.templateId }-line ${ section.templateId }-summary ${section.settings.summarySymbol}|" th:if="${ #lists.size(section.data.page.summaryList) > 1 }">
                                <li th:each="summary:${section.data.page.summaryList}" th:utext="${summary}"></li>
                            </ul>
                        </div>

                        <div th:class="|${ section.templateId }-section|" th:if="${ section.settings.priceElement && section.settings.skuElement != null && section.settings.skuElement != 'invisible' && section.data.page.priceType == 2 && #lists.size(section.data.page.ladderList) > 0 }">
                            <h4 th:if="${ section.settings.priceElement && section.settings.marketPrice && #lists.size(section.data.page.skuList) > 0 && section.data.page.skuList[0].marketPrice > 0 }">
                                <del>[[${ site.currencySymbol }]][[${ section.data.page.skuList[0].marketPrice }]]</del>
                            </h4>
                            <table th:class="|table table-bordered table-strip table-hover table-sm ${ section.templateId }-price-table|">
                                <tr>
                                    <td th:each="ladder:${section.data.page.ladderList}">
                                        <small>
                                            ≥ [[${ladder.minCount}]] Pieces
                                        </small>
                                    </td>
                                </tr>
                                <tr>
                                    <th th:each="ladder:${section.data.page.ladderList}">
                                        <label>[[${ site.currencySymbol }]]</label>
                                        [[${ladder.price}]]
                                    </th>
                                </tr>
                            </table>
                        </div>

                        <div th:class="|${ section.templateId }-section|" th:if="${ section.data.page.priceType > 0 && section.settings.skuElement != 'invisible' && #lists.size(section.data.page.variantList) > 0 && #lists.size(section.data.page.skuList) > 0 }">
                            <th:block th:if="${ section.settings.skuElement == '2c' }">
                                <dl th:class="|${ section.templateId }-variant|" th:each="variant, variantSalt:${section.data.page.variantList}">
                                    <dt>[[${variant.variantName}]]</dt>
                                    <dd>
                                        <label class="variant-label" th:each="o,subSalt:${variant.valueList}" th:with="hasImg = 0">
                                            [[${o.variantValue}]]
                                        </label>
                                    </dd>
                                </dl>
                            </th:block>

                            <div th:class="|row row-small-gutter ${ section.templateId }-mosaic|" th:if="${ section.settings.skuElement == '2b' }">
                                <div th:class="|col-md-${ section.settings.skuColumn } col-${ section.settings.skuMobColumn }|" data-stock="item" th:each="sku, salt:${section.data.page.skuList}">
                                    <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}|" th:if="${ not #strings.isEmpty(sku.skuImage) }">
                                        <img class="embed-responsive-item lazy" th:src="${imageUrls.thumbnail(sku.skuImage)}" th:data-id="${ section.id }" th:data-original="${imageUrls.original(sku.skuImage)}" th:alt="${section.data.page.title}">
                                    </div>
                                    <p class="text-img">
                                        <th:block th:each="variant, variantSalt: ${ sku.variantList }">
                                            [[${variant.variantValue}]][[${variantSalt.index < (#lists.size(sku.variantList) - 1) ? ' / ' : '' }]]
                                        </th:block>
                                    </p>

                                    <p class="text-secondary" th:if="${ section.data.page.priceType == 1 && section.settings.priceElement && section.settings.marketPrice && sku.marketPrice > 0 }">
                                        <del>
                                            [[${ site.currencySymbol }]][[${sku.marketPrice}]]
                                        </del>
                                    </p>
                                    <p class="text-price" th:if="${section.data.page.priceType == 1 && section.settings.priceElement}">
                                        [[${ site.currencySymbol }]][[${sku.salePrice}]]
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div th:class="|${ section.templateId }-section|" th:if="${section.settings.buyButton != 'invisible' && #lists.size(section.data.page.linkList) > 0}">
                            <h5 class="text-content-heading">[[${ lang.buyFrom }]]</h5>
                            <th:block th:each="o,salt:${ section.data.page.linkList }">
                                <a th:href="${ o.url }" th:class="|btn btn-buy btn-sm ${ section.settings.buyButton }|" target="_blank">
                                    [[${ o.title }]]
                                </a>
                            </th:block>
                        </div>

                        <div th:class="|${ section.templateId }-section|" th:if="${section.settings.socialElement == 'visible'}">
                            <h5 class="text-content-heading">[[${ lang.shareTo }]]</h5>
                            
                            <div class="fo-share-group">
                                <button type="button" class="btn btn-outline-secondary" data-share="facebook">Facebook</button>
                                <button type="button" class="btn btn-outline-secondary" data-share="twitter">X</button>
                                
                                <button type="button" class="btn btn-outline-secondary" data-share="linkedin">LinkedIn</button>
                                
                                
                                <button type="button" class="btn btn-outline-secondary" data-share="native">分享 / Share</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7" th:if="${section.settings.imagePercent == 12}">
                        <div th:replace="::getContent()"></div>
                    </div>
                </div>
            </div>
        </div>

        <div th:class="|${ section.templateId }-${ layoutModel.moduleType } ${layoutModel.moduleMarginTop ? ' section-margin-top': ''}${layoutModel.moduleMarginBottom ? ' section-margin-bottom': ''}${layoutModel.modulePaddingTop ? ' section-padding-top': ''}${layoutModel.modulePaddingBottom ? ' section-padding-bottom': ''}|"
            th:data-group="|${layoutModel.moduleType}-${ layoutSalt.index }|" th:if="${layoutModel.moduleType == 'related' && not #lists.isEmpty(section.data.page.relevance.neighborList)}">
            <div th:class="|container${layoutModel.moduleWide ? '-fluid' : ''} section-neighbor|">
                <div th:class="|text-${section.settings.relatedHeadingAlign} section-title section-neighbor|" th:if="${not #strings.isEmpty(section.settings.relatedSubheading)
                || not #strings.isEmpty(section.settings.relatedHeading)
                || not #strings.isEmpty(section.settings.relatedContent)
                }">
                    <h5 class="text-subheading" th:if="${ not #strings.isEmpty(section.settings.relatedSubheading) }">
                        [[${ section.settings.relatedSubheading }]]
                    </h5>

                    <h3 class="text-heading" th:if="${ not #strings.isEmpty(section.settings.relatedHeading) }">
                        [[${ section.settings.relatedHeading }]]
                    </h3>

                    <th:block th:if="${not #strings.isEmpty(section.settings.relatedContent)}" th:with="textLines = ${#strings.listSplit(section.settings.relatedContent,'\n')}">
                        <th:block th:each="textLine,saltLine:${textLines}">
                            <p class="text-body" th:if="${not #strings.isEmpty(textLine)}" th:utext="${textLine}"></li>
                        </th:block>
                    </th:block>
                </div>
                <div class="row row-gutter section-neighbor"  th:if="${ section.settings.relatedStyle == 'tile' || section.settings.relatedStyle == 'list' }">
                    <div th:class="|col-md-${section.settings.relatedColumn} col-${section.settings.relateMobColumn}" th:each="o,salt:${ section.data.page.relevance.neighborList}">
                        <a  class="card section-card" th:href="|${ params.itemLink }${o.seoUrl}|">
                            <div th:class="|embed-responsive embed-responsive-${section.settings.relatedScale}|">
                                <img class="embed-responsive-item lazy card-img-top" th:src="${imageUrls.thumbnail(o.coverImage)}" th:data-original="${imageUrls.original(o.coverImage)}" th:alt="${o.title}">
                            </div>
                            <div th:class="|card-body ${section.settings.relatedAlign}|">
                                 <h3 th:if="${not #strings.isEmpty(o.title)}" class="text-content-heading" th:text="${o.title}"></h3>
                                 <p th:if="${section.settings.relatedSubtitle && not #strings.isEmpty(o.subtitle)}" class="text-body text-secondary" th:text="${#strings.length(o.subtitle) >= 150 ? #strings.substring(o.subtitle, 0, 150) : o.subtitle}"></p>
                                 <p th:if="${section.settings.relatedTime}" class="text-body text-secondary" th:text="${#dates.format(new java.util.Date(o.createTime),'yyyy-MM-dd')}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="slick slick-card section-neighbor"
                th:if="${section.settings.relatedStyle == 'slide' && not #lists.isEmpty(section.data.page.relevance.neighborList)}"
                th:with="desktopQuantity = ${ #numbers.formatInteger(12 / section.settings.relatedColumn, 1,'POINT') }, hasDots = ${#lists.size(section.data.page.relevance.neighborList) > desktopQuantity}"
                >
                <th:block th:if="${ hasDots }">
                    <div th:class="|slick-next ${#strings.isEmpty(section.settings.carouselArrowStyle) ? '' : section.settings.carouselArrowStyle}${hasDots ? ' dots' : ''}|" th:data-carousel-next="|neighbor${ section.id }|"></div>
                    <div th:class="|slick-prev ${#strings.isEmpty(section.settings.carouselArrowStyle) ? '' : section.settings.carouselArrowStyle}${hasDots ? ' dots' : ''}|" th:data-carousel-prev="|neighbor${ section.id }|"></div>
                </th:block>
                <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
                    <div th:class="|slick-slider slick-slider-transect has-gutter dots-${section.settings.carouselNavStyle}|"
                         th:data-carousel="|neighbor${ section.id }|"
                         data-effect="slide"
                         th:data-dots="${hasDots ? 1 : 0}"
                         th:data-arrow="${hasDots ? 1 : 0}"
                         th:data-column="${desktopQuantity}"
                         th:data-mobile-column="${ #numbers.formatInteger(12 / section.settings.relatedMobColumn, 1,'POINT') }"
                         th:data-delay="${#strings.isEmpty(section.settings.carouselAutoPlay) ? 0 : section.settings.carouselAutoPlay}"
                    >
                        <div class="slick-slide" th:each="o, salt:${ section.data.page.relevance.neighborList }">
                            <a th:href="|${ params.itemLink }${o.seoUrl}|">
                                <div class="card section-card">
                                    <div th:class="|embed-responsive embed-responsive-${section.settings.relatedScale}|" th:if="${not #strings.isEmpty(o.coverImage) && section.settings.relatedImage}">
                                        <img class="embed-responsive-item card-img-top" th:src="${imageUrls.thumbnail(o.coverImage)}" th:data-lazy="${imageUrls.original(o.coverImage)}" th:alt="${o.title}">
                                    </div>
                                    <div th:class="|card-body ${section.settings.relatedAlign}|">
                                        <h3 th:if="${not #strings.isEmpty(o.title)}" class="text-content-heading" th:text="${o.title}"></h3>
                                        <p th:if="${section.settings.relatedSubtitle && not #strings.isEmpty(o.subtitle)}" class="text-secondary" th:text="${#strings.length(o.subtitle) >= 150 ? #strings.substring(o.subtitle, 0, 150) : o.subtitle}"></p>
                                        <p th:if="${section.settings.relatedPrice}" class="text-price" th:text="|${site.currencySymbol}${o.minPrice}|"></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:class="|${ section.templateId }-${ layoutModel.moduleType } ${layoutModel.moduleMarginTop ? ' section-margin-top': ''}${layoutModel.moduleMarginBottom ? ' section-margin-bottom': ''}${layoutModel.modulePaddingTop ? ' section-padding-top': ''}${layoutModel.modulePaddingBottom ? ' section-padding-bottom': ''}|"
            th:data-group="|${layoutModel.moduleType}-${ layoutSalt.index }|" th:if="${layoutModel.moduleType == 'spec' && not #lists.isEmpty(section.data.page.specList)}">
            <div th:class="|container${layoutModel.moduleWide ? '-fluid' : ''}|">
                <h3 class="text-heading" th:if="${not #strings.isEmpty(section.settings.specTitle)}">
                    [[${layoutModel.moduleName}]]
                </h3>
                <div th:class="|${ section.templateId }-${layoutModel.moduleType}-list|" th:each="gp,gpSalt:${section.data.page.specGroup}">
                    <h3 class="text-content-heading" th:if="${gp.heading != null && not #strings.isEmpty(gp.heading.key)}">
                        [[${gp.heading.key}]]
                    </h3>
                    <div class="row" th:if="${not #lists.isEmpty(gp.subList)}">
                        <div th:class="|col-md-${section.settings.specColumn} col-${section.settings.specMobColumn}|" th:each="sb,sbSalt:${gp.subList}">
                            <h5 class="text-body" th:if="${not #strings.isEmpty(sb.key)}">
                                [[${sb.key}]]
                            </h5>
                            <p class="text-body" th:if="${not #strings.isEmpty(sb.value)}">
                                [[${sb.value}]]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:class="|${ section.templateId }-${ layoutModel.moduleType } ${layoutModel.moduleMarginTop ? ' section-margin-top': ''}${layoutModel.moduleMarginBottom ? ' section-margin-bottom': ''}${layoutModel.modulePaddingTop ? ' section-padding-top': ''}${layoutModel.modulePaddingBottom ? ' section-padding-bottom': ''}|"
            th:data-group="|${layoutModel.moduleType}-${ layoutSalt.index }|"
            th:if="${layoutModel.moduleType == 'description' && (not #strings.isEmpty(section.data.page.description) || not #lists.isEmpty(section.data.page.blockList))}">
            <ul th:class="|nav nav-tabs ${section.settings.descTabAlign} ${section.settings.descLine ? 'shadow' : ''}|" th:if="${section.settings.descTabWide}">
                <li class="nav-item active" data-tabs="nav" th:if="${not #strings.isEmpty(section.data.page.description)}">
                    [[${layoutModel.moduleName}]]
                </li>
                <li th:class="|nav-item${#strings.isEmpty(section.data.page.description) && itemSalt.index == 0 ? ' active' : ''}|" data-tabs="nav" th:each="item,itemSalt:${section.data.page.blockList}">
                    [[${item.blockName}]]
                </li>
                <li class="nav-item" data-tabs="nav" th:if="${not #lists.isEmpty(section.data.page.attachmentList)}">
                    [[${not #strings.isEmpty(section.settings.attachmentLabel) ? section.settings.attachmentLabel : lang.attachment}]]
                </li>
            </ul>
            <div th:class="|container${layoutModel.moduleWide ? '-fluid' : ''}|">
                <ul th:class="|nav nav-tabs ${section.settings.descTabAlign} ${section.settings.descLine ? 'shadow' : ''}|" th:if="${!section.settings.descTabWide}">
                    <li class="nav-item active" data-tabs="nav" th:if="${not #strings.isEmpty(section.data.page.description)}">
                        [[${layoutModel.moduleName}]]
                    </li>
                    <li th:class="|nav-item${#strings.isEmpty(section.data.page.description) && itemSalt.index == 0 ? ' active' : ''}|" data-tabs="nav" th:each="item,itemSalt:${section.data.page.blockList}">
                        [[${item.blockName}]]
                    </li>
                    <li class="nav-item" data-tabs="nav" th:if="${not #lists.isEmpty(section.data.page.attachmentList)}">
                        [[${not #strings.isEmpty(section.settings.attachmentLabel) ? section.settings.attachmentLabel : lang.attachment}]]
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane section-rich-text active" data-tabs="pane" th:utext="${section.data.page.description}" th:if="${not #strings.isEmpty(section.data.page.description)}"></div>
                    <div th:class="|tab-pane section-rich-text${#strings.isEmpty(section.data.page.description) && itemSalt.index == 0 ? ' active' : ''}|" data-tabs="pane" th:each="item,itemSalt:${section.data.page.blockList}" th:utext="${item.blockDescription}"></div>
                    <div class="tab-pane" data-tabs="pane" th:if="${ not #lists.isEmpty(section.data.page.attachmentList) }">
                        <div th:class="|${ section.templateId }-down|" th:each="down,salt:${ section.data.page.attachmentList }">
                            <p class="ic-affix" th:data-resource-id="${down.id}" data-collection-id="" data-down-file="" th:if="${down.needPass == 0}">
                                <i class="ic-lock"></i>
                                <label th:data-down-name="${down.id}">[[${down.title}]]</label>
                            </p>
                            <p class="ic-affix" th:data-resource-id="${down.id}" data-collection-id="" th:data-down-file="${down.url}" th:if="${down.needPass == 1}">
                                <label th:data-down-name="${down.id}">[[${down.title}]]</label>
                            </p>
                            <div class="input-group" th:data-down-group="${down.id}" th:if="${ down.needPass == 0 }">
                                <input type="password" class="form-control" maxlength="10" th:data-down-pass="${down.id}" placeholder="Password">
                                <div class="d-flex">
                                    <button class="btn btn-primary" th:data-down-get="${down.id}">
                                        [[${lang.download}]]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p th:class="|${section.templateId}-next previous|" th:if="${ section.settings.neighborElement && section.data.page.relevance.previous != null}">
                        <a th:href="|${ params.itemLink }${ section.data.page.relevance.previous.seoUrl }|">
                            [[${ section.data.page.relevance.previous.title }]]
                        </a>
                    </p>
                    <p th:class="|${section.templateId}-next|" th:if="${ section.settings.neighborElement && section.data.page.relevance.next != null}">
                        <a th:href="|${ params.itemLink }${ section.data.page.relevance.next.seoUrl }|">
                            [[${ section.data.page.relevance.next.title }]]
                        </a>
                    </p>
                </div>
            </div>
        </div>
	</th:block>
	<div class="section-padding-top section-padding-bottom container" th:if="${ #strings.isEmpty(section.data.page.description) && #lists.isEmpty(section.data.page.blockList) && section.settings.neighborElement && (section.data.page.relevance.previous != null || section.data.page.relevance.next != null)}">
        <p th:class="|${section.templateId}-next previous|" th:if="${ section.settings.neighborElement && section.data.page.relevance.previous != null}">
            <a th:href="|${ params.itemLink }${ section.data.page.relevance.previous.seoUrl }|">
                [[${ section.data.page.relevance.previous.title }]]
            </a>
        </p>
        <p th:class="|${section.templateId}-next|" th:if="${ section.settings.neighborElement && section.data.page.relevance.next != null}">
            <a th:href="|${ params.itemLink }${ section.data.page.relevance.next.seoUrl }|">
                [[${ section.data.page.relevance.next.title }]]
            </a>
        </p>
	</div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
