// Static DEMO instance styles; production uses variable.th.css.
.section-demo-NbeQni .text-heading,.section-demo-NbeQni .text-body {
      color: #ffff00;
  }


.section-demo-NbeQni .embed-responsive{
  border-radius: 9px;
}
.section-demo-NbeQni .col-12 .embed-responsive{
    border-radius: 6.0px;
}


.section-demo-NbeQni .embed-responsive{
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.3);;
}
