// Static DEMO instance styles; production uses variable.th.css.
.section-demo-RJv6J3 .section-container {
          background: #ffff00   ;
      
  }


    .section-demo-RJv6J3 .section-collection-describe.close:before {
        background: linear-gradient(180deg,rgba(252,251,252,0),#ffff00);
    }



.section-demo-RJv6J3 .card-body [class^=text-] {
    color:#a1a10b;
}




.section-demo-RJv6J3 .card {
    background-color:#ff0000;
}
