// Static DEMO instance styles; production uses variable.th.css.
.section-demo-VvmQJn{
    background: #ffff00   ;
    
}



.section-demo-VvmQJn .VvmQJn-dialog [class*=text-] {
    color: #ff00ff;
}



.section-demo-VvmQJn .VvmQJn-dialog {
    background-color: rgba(0,0,0,.8);
}
