<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
        <div class="row row-gutter" th:if="${not #lists.isEmpty(section.settings.itemList)}">
            <div th:class="|col-md-${section.settings.column} col-${ section.settings.mobColumn } ${ section.templateId }-item|" th:each="o,stat:${section.settings.itemList}">
                <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}">
                    <img class="embed-responsive-item lazy" th:src="${imageUrls.thumbnail(o.avatar)}" th:data-original="${imageUrls.original(o.avatar)}" th:alt="${o.name}" th:if="${not #strings.isEmpty(o.avatar)}">
                </div>
                <div class="VvmQJn-dialog" th:if="${not #strings.isEmpty(o.subheading) || not #strings.isEmpty(o.content) || not #strings.isEmpty(o.foundName) || not #strings.isEmpty(o.linkLabel)}">
                    <div th:class="|VvmQJn-dialog-close ${section.settings.closeStyle}|"></div>
                    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
                        <div class="VvmQJn-dialog-content" th:if="${not #strings.isEmpty(o.subheading) || not #strings.isEmpty(o.content)}">
                            <div class="text-neighbor">
                                <p class="text-body" th:if="${not #strings.isEmpty(o.subheading)}">[[${o.subheading}]]</p>
                                <h3 class="text-heading" th:if="${not #strings.isEmpty(o.heading)}">
                                    [[${o.heading}]]
                                </h3>
                                <div class="text-list section-rich-text" th:if="${not #strings.isEmpty(o.heading)}" th:utext="${o.content}"></div>
                            </div>
                            <div class="text-neighbor" th:if="${not #strings.isEmpty(o.foundLabel) || not #strings.isEmpty(o.foundName)}">
                                <div class="text-subheading" th:if="${not #strings.isEmpty(o.foundLabel)}">[[${o.foundLabel}]]</div>
                                <p th:if="${not #strings.isEmpty(o.foundLink)}">
                                    <a th:href="${o.foundLink}" class="text-link" target="_blank" th:if="${not #strings.isEmpty(o.link)}">
                                        [[${o.foundName}]]
                                    </a>
                                </p>
                                <th:block th:if="${#strings.isEmpty(o.foundLink)}">[[${o.foundName}]]</th:block>
                            </div>
                            <div class="text-neighbor" th:if="${not #strings.isEmpty(o.linkTitle) || not #strings.isEmpty(o.linkLabel)}">
                                <div class="text-subheading" th:if="${not #strings.isEmpty(o.linkLabel)}">[[${o.linkLabel}]]</div>
                                <p th:if="${not #strings.isEmpty(o.link)}">
                                    <a th:href="${o.link}" class="text-link" target="_blank" th:if="${not #strings.isEmpty(o.link)}">
                                        [[${o.linkTitle}]]
                                    </a>
                                </p>
                                <th:block th:if="${#strings.isEmpty(o.link)}">[[${o.linkTitle}]]</th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
