<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
        <div th:class="|text-${section.settings.textAlign} section-title section-neighbor|" th:if="${not #strings.isEmpty(section.settings.heading)
            || not #strings.isEmpty(section.settings.subheading)
            || not #strings.isEmpty(section.settings.content)
            || section.settings.dividerWidth > 0
            }"
           >
            <h3 class="text-heading" th:if="${ not #strings.isEmpty(section.settings.heading) }">
                [[${ section.settings.heading }]]
            </h3>

            <div th:class="|section-title-divider ${section.settings.textAlign}${section.settings.dividerStyle == 'image' && not #strings.isEmpty(section.settings.dividerImage) ? ' has-image' : ' has-line'}|" th:if="${ section.settings.dividerWidth > 0 }">
                <img th:src="${section.settings.dividerImage}" alt="" th:if="${ section.settings.dividerStyle == 'image' && not #strings.isEmpty(section.settings.dividerImage) }">
            </div>

            <h5 class="text-subheading" th:if="${ not #strings.isEmpty(section.settings.subheading) }">
                [[${ section.settings.subheading }]]
            </h5>
            <ul th:class="|text-body break-word ${section.settings.symbol}|" th:if="${not #strings.isEmpty(section.settings.content)}" th:with="textLines = ${#strings.listSplit(section.settings.content,'\n')}">
                <th:block th:each="textLine,saltLine:${textLines}">
                    <li th:if="${not #strings.isEmpty(textLine)}" th:utext="${textLine}"></li>
                </th:block>
            </ul>
        </div>
        <th:block th:fragment="getContent(eventTime, eventTitle, eventContent, eventImage, eventAlt)" th:if="${not #strings.isEmpty(eventTime) || not #strings.isEmpty(eventTitle) || not #strings.isEmpty(eventContent) || not #strings.isEmpty(eventImage)}">
            <h3 th:if="${not #strings.isEmpty(eventTime)}" class="text-heading" th:text="${eventTime}"></h3>
            <h3 th:if="${not #strings.isEmpty(eventTitle)}" class="text-content-heading" th:text="${eventTitle}"></h3>
            <th:block th:if="${not #strings.isEmpty(eventContent)}" th:with="textLines = ${#strings.listSplit(eventContent,'\n')}">
                <th:block th:each="textLine,saltLine:${textLines}">
                    <p class="text-body" th:if="${not #strings.isEmpty(textLine)}" th:utext="${textLine}"></li>
                </th:block>
            </th:block>
            <p th:class="|${ section.templateId }-img|">
                <img class="lazy" th:src="|${eventImage}!1|" th:data-original="|${eventImage}!6|" th:alt="${not #strings.isEmpty(eventAlt) ? eventAlt : eventTitle}" th:if="${not #strings.isEmpty(eventImage)}">
            </p>
        </th:block>
        <div th:class="|${ section.templateId }-container section-neighbor|">
            <div class="row">
                <div th:class="|${ section.templateId }-half col-md-${ section.settings.eventWidth } ${ section.settings.eventWidth < 6 ? 'offset-md-' + ( 6 - section.settings.eventWidth ) : ''}|">
                    <th:block th:each="o,stat:${section.settings.eventList}">
                        <div th:class="|${ section.templateId }-item${ stat.index % 2 == 1 ? ' d-md-none d-block' : '' }|">
                            <a th:href="${o.eventLink}" th:if="${not #strings.isEmpty(o.eventLink)}">
                                <div th:replace="::getContent(${o.eventTime}, ${o.eventTitle}, ${o.eventContent}, ${o.eventImage}, ${o.eventAlt})"></div>
                            </a>
                            <th:block th:if="${#strings.isEmpty(o.eventLink)}">
                                <div th:replace="::getContent(${o.eventTime}, ${o.eventTitle}, ${o.eventContent}, ${o.eventImage}, ${o.eventAlt})"></div>
                            </th:block>
                        </div>
                    </th:block>
                </div>
                <div th:class="|${ section.templateId }-half col-md-${ section.settings.eventWidth } d-md-block d-none|">
                    <th:block th:each="o,stat:${section.settings.eventList}">
                        <div th:class="|${ section.templateId }-item|" th:if="${ stat.index % 2 == 1 }">
                            <a th:href="${o.eventLink}" th:if="${not #strings.isEmpty(o.eventLink)}">
                                <div th:replace="::getContent(${o.eventTime}, ${o.eventTitle}, ${o.eventContent}, ${o.eventImage}, ${o.eventAlt})"></div>
                            </a>
                            <th:block th:if="${#strings.isEmpty(o.eventLink)}">
                                <div th:replace="::getContent(${o.eventTime}, ${o.eventTitle}, ${o.eventContent}, ${o.eventImage}, ${o.eventAlt})"></div>
                            </th:block>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
