// Static DEMO instance styles; production uses variable.th.css.
.section-demo-uuy6Zz{
    background: #fff000   ;
    
}





.section-demo-uuy6Zz .uuy6Zz-digit{
    color: #00fff0;
}



.section-demo-uuy6Zz .text-body{
    color: #0000ff;
}



.section-demo-uuy6Zz .media-item:not(:last-child){
    border-color: #ff0000;
}
