<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
		<div class="row row-gutter">
			<th:block th:each="o,salt:${section.settings.itemList}">
                <div th:class="|col-md-${ section.settings.firstLine && salt.index == 0 ? 12 :section.settings.column} col-${section.settings.mobColumn}|">
                    <div th:class="|card related-card first-line ${section.settings.imageLayout}${ section.settings.cardShadow ? '' : ' no-shadow'}|" th:if="${section.settings.firstLine && salt.index == 0}">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-body">
                                    <div class="card-body-content">
                                        <h3 class="text-heading" th:if="${not #strings.isEmpty(o.name)}">
                                            [[${o.name}]]
                                        </h3>
                                        <p class="text-body" th:if="${not #strings.isEmpty(o.subtitle)}">
                                            [[${o.subtitle}]]
                                        </p>
                                        <p class="text-link" th:if="${ not #strings.isEmpty(section.settings.learnMore) }">
                                            <a th:href="|${ o.link }|" class="ic-1-right">
                                                [[${section.settings.learnMore}]]
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div th:class="|embed-responsive embed-responsive-${section.settings.firstScale}|">
                                    <img class="embed-responsive-item lazy" th:src="${imageUrls.thumbnail(o.image)}" th:data-original="${imageUrls.original(o.image)}" th:alt="${not #strings.isEmpty(o.alt) ? o.alt : o.title}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:class="|card ${ section.settings.cardShadow ? '' : ' no-shadow'}|" th:if="${!(section.settings.firstLine && salt.index == 0)}">
                        <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}|" th:if="${section.settings.imageLayout == 'top'}">
                            <img class="embed-responsive-item lazy card-img-top" th:src="${imageUrls.thumbnail(o.image)}" th:data-original="${imageUrls.original(o.image)}" th:alt="${not #strings.isEmpty(o.alt) ? o.alt : o.title}">
                        </div>
                        <div th:class="|card-body text-center ${section.settings.imageLayout}|">
                            <th:block th:if="${section.settings.imageLayout == 'top'}">
                                <h3 class="text-heading" th:if="${not #strings.isEmpty(o.name)}">
                                    [[${o.name}]]
                                </h3>
                                <p class="text-body" th:if="${not #strings.isEmpty(o.subtitle)}">
                                    [[${o.subtitle}]]
                                </p>
                                <p class="text-link" th:if="${ not #strings.isEmpty(section.settings.learnMore) }">
                                    <a th:href="|${ o.link }|" class="ic-1-right" th:if="${ not #strings.isEmpty(o.link) }">
                                        [[${section.settings.learnMore}]]
                                    </a>
                                    <th:block th:if="${ #strings.isEmpty(o.link) }">
                                        [[${section.settings.learnMore}]]
                                    </th:block>
                                </p>
                            </th:block>
                            <th:block th:if="${section.settings.imageLayout == 'bottom'}">
                                <div class="card-flex">
                                    <h3 class="text-heading" th:if="${not #strings.isEmpty(o.name)}">
                                        [[${o.name}]]
                                    </h3>
                                    <p class="text-body" th:if="${not #strings.isEmpty(o.subtitle)}">
                                        [[${o.subtitle}]]
                                    </p>
                                    <p class="text-link" th:if="${ not #strings.isEmpty(section.settings.learnMore) }">
                                        <a th:href="|${ o.link }|" class="ic-1-right" th:if="${ not #strings.isEmpty(o.link) }">
                                            [[${section.settings.learnMore}]]
                                        </a>
                                        <th:block th:if="${ #strings.isEmpty(o.link) }">
                                            [[${section.settings.learnMore}]]
                                        </th:block>
                                    </p>
                                </div>
                                <a th:href="|${ o.link }|">
                                    <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}|">
                                        <img class="embed-responsive-item lazy" th:src="${imageUrls.thumbnail(o.image)}" th:data-original="${imageUrls.original(o.image)}" th:alt="${not #strings.isEmpty(o.alt) ? o.alt : o.title}">
                                    </div>
                                </a>
                            </th:block>
                        </div>
                    </div>
                </div>
			</th:block>
		</div>
    </div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
