.qYnEVv {
	transition: all 0.5s;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 20;
}

.qYnEVv-notice {
	background-color: #282828;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.qYnEVv-notice-content {
	flex: 1;
}

.qYnEVv-notice-content + p {
	align-items: center;
	display: flex;
	margin-left: 2rem;
}

.qYnEVv-notice-close {
	font-family: "iconfont" !important;
	position: absolute;
	height: 3rem;
	top: calc(50% - 1.5rem);
	line-height: 3rem;
	padding-left: 1rem;
	cursor: pointer;
	padding-right: 1rem;
	font-size: 1.5rem;
	right: 0;
	color: #fff;
}

.qYnEVv-notice-close:before {
	content: "\e60a";
}

@media (max-width: 768px) {
	.qYnEVv-notice-close {
		top: 0;
	}
}

.qYnEVv-notice [class*=text-] {
	color: #fff;
}

.qYnEVv-notice:not(.fixed-bottom) {
	position: relative;
}

.qYnEVv-icon a {
	font-size: 16px;
	display: inline-block;
	line-height: 36px;
}

.qYnEVv-icon a img {
	height: 16px;
	vertical-align: center;
}

.qYnEVv-icon a:not(:last-child) {
	margin-right: 15px;
}

.qYnEVv-icon + .qYnEVv-icon, .qYnEVv-icon + .section-drop {
	position: relative;
}

.qYnEVv-icon + .qYnEVv-icon:before, .qYnEVv-icon + .section-drop:before {
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	content: "|";
}

.qYnEVv-bar {
	background-color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	display: flex;
	transition: all 0.25s;
}

.qYnEVv-bar .dropdown-toggle {
	color: #fff;
	line-height: 38px;
	font-size: 16px;
}

.qYnEVv-bar .region-icon:before,
.qYnEVv-bar .section-drop:before,
.qYnEVv-bar .qYnEVv-icon:before {
	color: #fff;
}

.qYnEVv-bar a:not(.dropdown-item) {
	color: #fff;
}

.qYnEVv-bar a:hover {
	text-decoration: underline;
}

.qYnEVv-bar a:hover, .qYnEVv-bar a:hover i {
	color: var(--colorTheme);
}

.qYnEVv-bar .qYnEVv-bar-right {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

.qYnEVv-bar .qYnEVv-bar-right .nav-link {
	cursor: pointer;
}

.qYnEVv nav {
	padding: 0;
}

.qYnEVv nav .navbar-brand {
	display: flex;
	align-items: center;
	position: relative;
	padding: 0;
	z-index: 2;
	margin-right: 1.5rem;
}

.qYnEVv nav .navbar-brand img {
	height: 2.5rem;
}

.qYnEVv nav .navbar-brand img + img {
	margin-left: 0.75rem;
}

.qYnEVv .input-group-append .btn {
	border: 0.0625rem solid #ced4da;
	background: #fff;
	color: #ced4da;
	padding-right: 0.75rem !important;
	padding-left: 0.75rem !important;
	border-radius: 0 !important;
}

.qYnEVv .input-group-append .btn:first-child {
	border-left: 0;
}

.qYnEVv .input-group-append .btn:last-child {
	border-bottom-right-radius: 0.25rem !important;
	border-top-right-radius: 0.25rem !important;
}

.qYnEVv .input-group-append i {
	font-size: 14px !important;
}

.qYnEVv-region {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1032;
	background-color: #fff;
}

.qYnEVv-region:not(.show) {
	display: none;
}

.qYnEVv-region .container {
	margin-top: 20vh;
}

.qYnEVv-region a {
	color: #666;
}

.qYnEVv-region a:hover {
	color: #333;
}

.qYnEVv-region .ic-close {
	position: absolute;
	right: 2rem;
	top: 2rem;
	font-size: 1.5rem;
	padding: 1rem;
	cursor: pointer;
}

@media (max-width: 768px) {
	.qYnEVv {
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
		background-color: #fff;
	}

	.qYnEVv-region .container {
		margin-top: 1rem;
	}

	.qYnEVv-region .ic-close {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 1.5rem;
		padding: 1rem;
		cursor: pointer;
	}

	.qYnEVv .cursor-pointer {
		display: none;
	}

	.qYnEVv-bar {
		display: none;
	}

	.qYnEVv .dropdown-menu {
		padding: 0;
	}

	.qYnEVv-notice-content + p {
		margin-left: 0;
	}

	.qYnEVv .dropdown-toggle:after {
		display: none;
	}

	.qYnEVv .navbar-collapse {
		position: fixed;
		background-color: #fff;
		border-top: 1px solid #e9ecef;
		top: 3.125rem;
		width: 100%;
		height: calc(100% - 3.125rem);
		overflow-x: hidden;
		overflow-y: auto;
		left: 0;
		z-index: 1031;
	}

	.qYnEVv .navbar-collapse.show .qYnEVv-search {
		display: block;
	}

	.qYnEVv nav {
		padding-left: 0.625rem;
		padding-right: 0.625rem;
	}

	.qYnEVv nav .nav-icon {
		display: none;
	}

	.qYnEVv nav .nav-link,
  .qYnEVv nav .dropdown-item {
		padding: 0.5rem 2.25rem 0.5rem 0.625rem;
		line-height: 1.25rem;
		border-bottom: 1px solid #e9ecef;
		color: #212529;
	}

	.qYnEVv nav .vertical-link {
		padding: 0.5rem 2.25rem 0.5rem 0.625rem;
		line-height: 1.25rem;
		border-bottom: 1px solid #e9ecef;
		color: #212529;
		display: block;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	.qYnEVv nav .navbar-fluid-col .embed-responsive {
		display: none;
	}

	.qYnEVv nav .navbar-open-placeholder {
		position: absolute;
		width: 2.25rem;
		height: 2.25rem;
		right: 0;
		top: 0;
		cursor: pointer;
	}

	.qYnEVv nav .navbar-open-placeholder:after {
		border-style: solid;
		border-width: 2px 2px 0 0;
		border-color: #c1c1c1;
		position: relative;
		content: "";
		display: inline-block;
		height: 0.5rem;
		width: 0.5rem;
		top: 0.375rem;
		margin-left: 0.75rem;
		box-sizing: content-box;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
		transition: all 0.2s ease-in-out;
	}

	.qYnEVv nav .navbar-open-placeholder.active:after {
		top: 0.6875rem;
		transform: rotate(-45deg);
	}

	.qYnEVv nav .navbar-brand {
		height: 3.125rem;
	}

	.qYnEVv nav .navbar-brand img {
		height: 1.875rem;
	}

	.qYnEVv nav .navbar-brand img:nth-child(2) {
		display: none;
	}

	.qYnEVv .qYnEVv-search {
		margin: 1rem 0.625rem 0.625rem 0.625rem;
		display: none;
	}

	.qYnEVv .qYnEVv-search .input-group-append .btn {
		margin: 0;
	}

	.qYnEVv .qYnEVv-search .input-group-append .btn:first-child {
		border-right: 0;
	}

	.qYnEVv .nav-item {
		position: relative;
	}

	.qYnEVv .navbar-fluid {
		display: none;
	}

	.qYnEVv .navbar-fluid .dropdown-item {
		padding-left: 1.625rem;
	}

	.qYnEVv .navbar-fluid li .dropdown-item {
		padding-left: 2.625rem;
	}

	.qYnEVv .navbar-fluid li li .dropdown-item {
		padding-left: 3.625rem;
	}

	.qYnEVv .navbar-fluid ul {
		display: none;
	}

	.qYnEVv .navbar-fluid-vertical .container,
  .qYnEVv .navbar-fluid .container {
		padding-right: 0;
		padding-left: 0;
	}

	.qYnEVv .navbar-fluid-vertical .row,
  .qYnEVv .navbar-fluid .row {
		margin-right: 0;
		margin-left: 0;
	}

	.qYnEVv .navbar-fluid-vertical [class*=col-md-],
  .qYnEVv .navbar-fluid [class*=col-md-] {
		padding-right: 0;
		padding-left: 0;
	}

	.qYnEVv .navbar-fluid-vertical {
		display: none;
	}

	.qYnEVv .navbar-fluid-vertical .dropdown-item {
		padding-left: 1.625rem;
	}

	.qYnEVv .navbar-fluid-vertical .navbar-fluid-vertical-content .dropdown-item {
		padding-left: 2.625rem;
	}

	.qYnEVv .navbar-fluid-vertical .navbar-fluid-vertical-content li .dropdown-item {
		padding-left: 3.625rem;
	}

	.qYnEVv .navbar-fluid-vertical .expand-collection {
		display: none;
	}

	.qYnEVv .navbar-fluid-vertical .embed-responsive {
		display: none;
	}

	.qYnEVv .navbar-fluid-vertical-sub li {
		position: relative;
	}

	.qYnEVv .navbar-fluid-vertical-sub a {
		color: #212529;
	}

	.qYnEVv .navbar-fluid-vertical-sub .dropdown-toggle:before {
		display: none;
	}

	.qYnEVv .dropdown-menu .dropdown-item {
		padding-left: 1.625rem;
	}

	.qYnEVv .dropdown-menu .dropdown-menu .dropdown-item {
		padding-left: 2.625rem;
	}

	.qYnEVv .dropdown-menu .dropdown-menu .dropdown-menu .dropdown-item {
		padding-left: 3.625rem;
	}
}

@media (min-width: 768px) {
	.qYnEVv .region-icon {
		line-height: 36px;
		cursor: pointer;
		margin-left: 1rem;
	}

	.qYnEVv .region-icon.nav-item {
		display: none;
	}

	.qYnEVv .nav-item .region-icon {
		margin: 0;
	}

	.qYnEVv .nav-item-btn .btn {
		top: 50%;
		padding-right: 0.75rem;
		padding-left: 0.75rem;
		transform: translateY(-50%);
	}

	.qYnEVv .nav-item + .nav-item-btn {
		margin-left: 1rem;
	}

	.qYnEVv .navbar {
		background-color: #fff;
	}

	.qYnEVv .navbar .navbar-open-placeholder {
		display: none !important;
	}

	.qYnEVv .navbar.medium .navbar-brand img {
		height: 3rem;
	}

	.qYnEVv .navbar.medium .navbar-nav li > .nav-link {
		line-height: 4.25rem;
		height: 4.25rem;
		padding: 0 0.75rem;
	}

	.qYnEVv .navbar.large .navbar-brand img {
		height: 3.5rem;
	}

	.qYnEVv .navbar.large .navbar-nav li > .nav-link {
		line-height: 4.75rem;
		height: 4.75rem;
		padding: 0 0.875rem;
	}

	.qYnEVv .navbar.greater .navbar-brand img {
		height: 4rem;
	}

	.qYnEVv .navbar.greater .navbar-nav li > .nav-link {
		line-height: 5.25rem;
		height: 5.25rem;
		padding: 0 1rem;
	}

	.qYnEVv .navbar-brand {
		padding-top: 0.625rem;
		padding-bottom: 0.625rem;
	}

	.qYnEVv .navbar-menu {
		display: flex;
	}

	.qYnEVv .navbar-menu-collapse {
		flex: 1;
		display: flex;
		margin-left: 1rem;
	}

	.qYnEVv .navbar.fixed-top {
		background-color: #fff;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
	}

	.qYnEVv .navbar .qYnEVv-search {
		position: absolute;
		left: 0;
		bottom: -4rem;
		z-index: 10;
		width: 100%;
		display: none;
	}

	.qYnEVv .navbar .qYnEVv-search .container {
		display: flex;
		justify-content: end;
	}

	.qYnEVv .navbar .qYnEVv-search .container .input-group {
		height: 4rem;
		width: 20rem;
		background-color: #fff;
		align-items: center;
		padding-left: 1rem;
		padding-right: 1rem;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
	}

	.qYnEVv .navbar .navbar-nav {
		padding-left: 0;
	}

	.qYnEVv .navbar .navbar-nav .navbar-fluid {
		position: absolute;
		top: 100%;
		left: 0;
		display: block;
		width: 100%;
		padding: 1.5rem 0;
		background-color: rgba(34, 34, 34, 0.9);
		visibility: hidden;
		opacity: 0;
	}

	.qYnEVv .navbar .navbar-nav .navbar-fluid .dropdown-toggle:after {
		display: none;
	}

	.qYnEVv .navbar .navbar-nav .navbar-fluid .dropdown-item {
		color: #fff;
	}

	.qYnEVv .navbar .navbar-nav .navbar-fluid .dropdown-item + ul {
		margin-top: 0.5rem;
	}

	.qYnEVv .navbar .navbar-nav .navbar-fluid .dropdown .dropdown-item {
		padding-left: 0.75rem;
	}

	.qYnEVv .navbar .navbar-nav .navbar-fluid .dropdown li .dropdown-item {
		padding-left: 1.5rem;
	}

	.qYnEVv .navbar .navbar-nav .navbar-fluid-col {
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}

	.qYnEVv .navbar .navbar-nav .navbar-fluid .overflow-y {
		overflow-y: auto;
	}

	.qYnEVv .navbar .navbar-nav .navbar-fluid .embed-responsive + .dropdown-item {
		margin-top: 0.75em;
	}

	.qYnEVv .navbar .navbar-nav .navbar-vertical {
		padding-left: 0;
		display: block;
		position: absolute;
		min-width: 12.5rem;
		top: 100%;
		left: 0;
		background-color: rgba(34, 34, 34, 0.9);
		box-shadow: 0 0.75rem 1.875rem -0.125rem rgba(0, 0, 0, 0.1);
		visibility: hidden;
		opacity: 0;
	}

	.qYnEVv .navbar .navbar-nav .navbar-vertical .dropdown-toggle {
		position: relative;
		padding-right: 30px !important;
	}

	.qYnEVv .navbar .navbar-nav .navbar-vertical .dropdown-toggle:after {
		position: absolute;
		right: 0.9375rem;
		top: calc(50% - 2px);
		transition: all 0.25s;
	}

	.qYnEVv .navbar .navbar-nav .navbar-vertical .dropdown-item {
		color: #fff;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	.qYnEVv .navbar .navbar-nav .navbar-vertical ul {
		top: 0.625rem;
		left: 100%;
	}

	.qYnEVv .navbar .navbar-nav .navbar-vertical ul ul {
		left: -100%;
	}

	.qYnEVv .navbar .navbar-nav .navbar-vertical li:hover > a {
		color: var(--colorTheme);
	}

	.qYnEVv .navbar .navbar-nav .navbar-vertical li:hover > a.dropdown-toggle:after {
		transform: rotate(-90deg);
	}

	.qYnEVv .navbar .navbar-nav li.nav-item.has-sub .nav-link {
		position: relative;
	}

	.qYnEVv .navbar .navbar-nav li.nav-item.has-sub .nav-link:before {
		content: " ";
		width: 0;
		height: 0;
		position: absolute;
		border-top: 10px solid rgba(0, 0, 0, 0);
		border-right: 10px solid rgba(0, 0, 0, 0);
		border-bottom: 10px solid #333;
		border-left: 10px solid rgba(0, 0, 0, 0);
		bottom: 0;
		left: calc(50% - 7px);
		opacity: 0;
		z-index: 2;
		transition: all 0.5s;
	}

	.qYnEVv .navbar .navbar-nav li > .nav-link {
		font-family: var(--typeMenu);
		font-size: calc(var(--fontSizeMenu) * 1px);
		color: var(--colorBody);
		white-space: nowrap;
		line-height: 3.75rem;
		height: 3.75rem;
		padding: 0 0.75rem;
		position: relative;
	}

	.qYnEVv .navbar .navbar-nav li > .nav-link.active {
		color: var(--colorTheme);
	}

	.qYnEVv .navbar .navbar-nav li:hover.nav-item.has-sub .nav-link:before {
		opacity: 1;
	}

	.qYnEVv .navbar .navbar-nav li:hover > .navbar-vertical,
  .qYnEVv .navbar .navbar-nav li:hover > .navbar-fluid {
		visibility: visible;
		opacity: 1;
	}

	.qYnEVv .navbar .navbar-nav li:hover > .navbar-fluid-vertical {
		visibility: visible;
		opacity: 1;
	}

	.qYnEVv .navbar-fluid-vertical {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100vw;
		visibility: hidden;
		opacity: 0;
	}

	.qYnEVv .navbar-fluid-vertical .dropdown-item {
		color: #232323;
		display: block;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		font-size: 14px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.qYnEVv .navbar-fluid-vertical .row {
		margin-right: -1.5rem;
		margin-left: -1.5rem;
	}

	.qYnEVv .navbar-fluid-vertical [class*=col-md-] {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		position: relative;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}

	.qYnEVv .navbar-fluid-vertical [class*=col-md-].has-avatar {
		padding-left: 5.25rem;
	}

	.qYnEVv .navbar-fluid-vertical-sub {
		padding: 1.5rem 0;
		width: 15.625rem;
		position: relative;
		min-height: 28.125rem;
		background-color: #f7f7f7;
	}

	.qYnEVv .navbar-fluid-vertical-sub .vertical-link {
		display: block;
		line-height: 2.5rem;
		overflow: hidden;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		color: #232323;
		position: relative;
	}

	.qYnEVv .navbar-fluid-vertical-sub .vertical-link.dropdown-toggle:after {
		right: 0.625rem;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		content: "\e624";
		font-family: "iconfont" !important;
		font-size: 0.75rem;
		border: 0;
		height: auto;
		width: auto;
		color: #d9d9d9;
	}

	.qYnEVv .navbar-fluid-vertical-sub > li.active .navbar-fluid-vertical-content {
		opacity: 1;
		z-index: 2;
	}

	.qYnEVv .navbar-fluid-vertical-sub > li:hover {
		background-color: #fff;
	}

	.qYnEVv .navbar-fluid-vertical-sub > li:hover .navbar-fluid-vertical-content {
		opacity: 1 !important;
		z-index: 3 !important;
	}

	.qYnEVv .navbar-fluid-vertical-sub > li:hover .vertical-link {
		color: var(--colorTheme);
	}

	.qYnEVv .navbar-fluid-vertical-sub > li:hover .vertical-link:after {
		color: #676767;
	}

	.qYnEVv .navbar-fluid-vertical-content {
		position: absolute;
		top: 0;
		left: 250px;
		padding: 2rem 3rem;
		height: 100%;
		opacity: 0;
		z-index: 1;
		overflow-y: auto;
		background-color: #fff;
	}
}

@media (min-width: 768px) and (min-width: 768px) {
	.qYnEVv .navbar-fluid-vertical-content:not(.fluid) {
		width: 27.875rem;
	}
}

@media (min-width: 768px) and (min-width: 992px) {
	.qYnEVv .navbar-fluid-vertical-content:not(.fluid) {
		width: 42.875rem;
	}
}

@media (min-width: 768px) and (min-width: 1200px) {
	.qYnEVv .navbar-fluid-vertical-content:not(.fluid) {
		width: 54.125rem;
	}
}

@media (min-width: 768px) and (min-width: 1600px) {
	.qYnEVv .navbar-fluid-vertical-content:not(.fluid) {
		width: 59.75rem;
	}
}

@media (min-width: 768px) {
	.qYnEVv .navbar-fluid-vertical-content.fluid {
		width: calc(100vw - 346px);
	}
}

@media (min-width: 768px) {
	.qYnEVv .navbar-fluid-vertical-content .embed-responsive {
		position: absolute;
		left: 0.75rem;
		top: 0.25rem;
		width: 3.75rem;
	}
}

@media (min-width: 768px) {
	.qYnEVv .dropdown-item {
		padding-left: 0;
		padding-right: 0;
		transition: all 0.25s;
	}

	.qYnEVv .dropdown-item.bold {
		font-weight: 900;
	}

	.qYnEVv .dropdown-item.small {
		font-size: 13px;
		opacity: 0.8;
	}

	.qYnEVv .dropdown-item.active, .qYnEVv .dropdown-item:hover {
		color: var(--colorTheme) !important;
		text-decoration: underline;
	}
}

.qYnEVv .cart-action {
	flex: 1;
	padding-right: 1rem;
	text-align: right;
}

.qYnEVv .cart-action i {
	font-size: 1.375rem;
	color: #000;
}

.qYnEVv .cart-action a {
	display: inline-block;
	margin-left: 0.5rem;
}
// Demo-only instance selector; does not affect real page IDs.
@import "demo";
