.mUVjim .card {
	height: 100%;
}

.mUVjim .card-mask-content {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 3;
}

.mUVjim .card-mask-content [class*="text-"],
    .mUVjim .card-mask-content [class*="text-"] * {
	color: #fff;
}

.mUVjim .slick-track {
	align-items: stretch;
	display: flex;
}

.mUVjim .slick-track .slick-slide {
	padding-top: calc(var(--cardBoxShadow) * 1px);
	padding-bottom: calc(var(--cardBoxShadow) * 1px);
}

.mUVjim .row-gutter:not(:empty) > .col, .mUVjim .row-gutter:not(:empty) > [class*="col-"] {
	margin-bottom: 2.25rem;
}

@media (max-width: 768px) {
	.mUVjim .card {
		margin-left: 0;
		margin-right: 0;
	}

	.mUVjim .row-gutter:not(:empty) > .col, .mUVjim .row-gutter:not(:empty) > [class*="col-"] {
		margin-bottom: 0.75rem;
	}
}
// Demo-only instance selector; does not affect real page IDs.
@import "demo";
