<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''} section-neighbor|">
        <div th:class="|text-${section.settings.textAlign} section-title section-neighbor|" th:if="${not #strings.isEmpty(section.settings.heading)
                || not #strings.isEmpty(section.settings.subheading)
                || not #strings.isEmpty(section.settings.content)
                || section.settings.dividerWidth > 0
            }">
            <h3 class="text-heading" th:if="${ not #strings.isEmpty(section.settings.heading) }">
                [[${ section.settings.heading }]]
            </h3>

            <div th:class="|section-title-divider ${section.settings.textAlign}${section.settings.dividerStyle == 'image' && not #strings.isEmpty(section.settings.dividerImage) ? ' has-image' : ' has-line'}|" th:if="${ section.settings.dividerWidth > 0 }">
                <img th:src="${imageUrls.original(section.settings.dividerImage)}" alt="" th:if="${ section.settings.dividerStyle == 'image' && not #strings.isEmpty(section.settings.dividerImage) }">
            </div>

            <h5 class="text-subheading" th:if="${ not #strings.isEmpty(section.settings.subheading) }">
                [[${ section.settings.subheading }]]
            </h5>

            <th:block th:if="${not #strings.isEmpty(section.settings.content)}" th:with="textLines = ${#strings.listSplit(section.settings.content,'\n')}">
                <th:block th:each="textLine,saltLine:${textLines}">
                    <p class="text-body" th:if="${not #strings.isEmpty(textLine)}" th:utext="${textLine}"></p>
                </th:block>
            </th:block>
        </div>
        <th:block th:fragment="getContent(heading, alt, description, image)" th:if="${not #strings.isEmpty(heading) || not #strings.isEmpty(description) || not #strings.isEmpty(image)}">
            <div class="card section-card">
                <div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}|" th:if="${ not #strings.isEmpty(image) }">
                    <img class="embed-responsive-item lazy card-img-top" th:src="${imageUrls.thumbnail(image)}" th:data-original="${imageUrls.original(image)}" th:alt="${not #strings.isEmpty(alt) ? alt : heading}">
                    <div class="card-mask" th:if="${ section.settings.style == 'popup' }">
                        <div class="card-mask-content">
                            <ul th:class="|text-list text-body ${section.settings.symbol} ${section.settings.contentAlign}|" th:if="${not #strings.isEmpty(description)}" th:with="textLines = ${#strings.listSplit(description,'\n')}">
                                <th:block th:each="textLine,saltLine:${textLines}">
                                    <li th:if="${not #strings.isEmpty(textLine)}" th:utext="${textLine}"></li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h3 th:class="|text-content-heading ${section.settings.titleAlign}|" th:if="${not #strings.isEmpty(heading)}">[[${heading}]]</h3>
                    <ul th:class="|text-list text-body ${section.settings.symbol} ${section.settings.contentAlign}|" th:if="${not #strings.isEmpty(description) && section.settings.style == 'card'}" th:with="textLines = ${#strings.listSplit(description,'\n')}">
                        <th:block th:each="textLine,saltLine:${textLines}">
                            <li th:if="${not #strings.isEmpty(textLine)}" th:utext="${textLine}"></li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </th:block>
        <div class="row row-gutter section-neighbor" th:if="${ #lists.size(section.settings.contentList) > 0 && section.settings.layout != 'slide'}">
            <div th:class="|col-md-${section.settings.column} col-${section.settings.mobColumn}|" th:each="o,salt:${section.settings.contentList}">
                <a th:href="${o.link}" th:if="${not #strings.isEmpty(o.link)}">
                    <div th:replace="::getContent(${o.title}, ${o.alt}, ${o.description}, ${o.image})"></div>
                </a>
                <th:block th:if="${#strings.isEmpty(o.link)}">
                    <div th:replace="::getContent(${o.title}, ${o.alt}, ${o.description}, ${o.image})"></div>
                </th:block>
            </div>
        </div>
    </div>

    <div class="slick section-neighbor"
        th:if="${section.settings.layout == 'slide' && #lists.size(section.settings.contentList) > 0}"
        th:with="desktopQuantity = ${ #numbers.formatInteger(12 / section.settings.column, 1,'POINT') }, hasDots = ${#lists.size(section.settings.contentList) > desktopQuantity}"
        >
        <th:block th:if="${ hasDots }">
            <div th:class="|slick-next ${#strings.isEmpty(section.settings.carouselArrowStyle) ? '' : section.settings.carouselArrowStyle}${hasDots ? ' dots' : ''}|" th:data-carousel-next="${ section.id }"></div>
            <div th:class="|slick-prev ${#strings.isEmpty(section.settings.carouselArrowStyle) ? '' : section.settings.carouselArrowStyle}${hasDots ? ' dots' : ''}|" th:data-carousel-prev="${ section.id }"></div>
        </th:block>
        <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
            <div th:class="|slick-slider slick-slider-transect has-gutter dots-${section.settings.carouselNavStyle}|"
                 th:data-carousel="${ section.id }"
                 data-effect="slide"
                 th:data-dots="${hasDots ? 1 : 0}"
                 th:data-arrow="${hasDots ? 1 : 0}"
                 th:data-column="${desktopQuantity}"
                 th:data-mobile-column="${ #numbers.formatInteger(12 / section.settings.mobColumn, 1,'POINT') }"
                 th:data-delay="${#strings.isEmpty(section.settings.carouselAutoPlay) ? 0 : section.settings.carouselAutoPlay}"
            >
                <div class="slick-slide" th:each="o, salt:${ section.settings.contentList }">
                    <a th:href="${o.link}" th:if="${not #strings.isEmpty(o.link)}">
                        <div th:replace="::getContent(${o.title}, ${o.alt}, ${o.description}, ${o.image})"></div>
                    </a>
                    <th:block th:if="${#strings.isEmpty(o.link)}">
                        <div th:replace="::getContent(${o.title}, ${o.alt}, ${o.description}, ${o.image})"></div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
