// Static DEMO instance styles; production uses variable.th.css.
.section-demo-N3mQnq{
    background: #640202   ;
    
}



.section-demo-N3mQnq .card-body {
    background-color:#ff0000;
}


.section-demo-N3mQnq .card-body, .section-demo-N3mQnq .card-body label{
    color:#ffff00;
}
