[# th:if="${not #strings.isEmpty(section.settings.backgroundColor) || not #strings.isEmpty(section.settings.backgroundImage)}"]
.section-[[${ section.id }]]{
    background: [[${section.settings.backgroundColor}]] [# th:if="${not #strings.isEmpty(section.settings.backgroundImage)}"] url("[[${section.settings.backgroundImage}]]")[/] [[${section.settings.backgroundRepeat}]] [[${section.settings.backgroundPosition}]];
    [# th:if="${not #strings.isEmpty(section.settings.backgroundSize)}"]
    background-size: [[${section.settings.backgroundSize}]];
    [/]
}
[/]

[# th:if="${not #strings.isEmpty(section.settings.cardBackground)}"]
.section-[[${ section.id }]] .card-body {
    background-color:[[${section.settings.cardBackground}]];
}
[/]
[# th:if="${not #strings.isEmpty(section.settings.cardColor)}"]
.section-[[${ section.id }]] .card-body, .section-[[${ section.id }]] .card-body label{
    color:[[${section.settings.cardColor}]];
}
[/]