// Static DEMO instance styles; production uses variable.th.css.
.section-demo-j6EFJ3 .bread-crumb {
        background-color: #f6f69c;
    }


    .section-demo-j6EFJ3 .bread-crumb * {
        color: #9b9b05;
    }


  .section-demo-j6EFJ3 .section-container {
          background: #ffff00   ;
      
  }


    .section-demo-j6EFJ3 .j6EFJ3-container [class*="text-"], .section-demo-j6EFJ3 .j6EFJ3-404 {
        color: #0000ff;
    }
