// Static DEMO instance styles; production uses variable.th.css.
.section-demo-FBj26f .FBj26f-faq.active .text-content-heading{
    
        background-color: #9605a6;
    
    
        color: #f61866;
    
}
.section-demo-FBj26f .FBj26f-faq.active p{
  border-color: #9605a6;
}



.section-demo-FBj26f  .FBj26f-catalog a {
    
        border-color: #0c3bb2;
    
    
}


.section-demo-FBj26f  .card-p4, .section-demo-FBj26f .media-p8 {
    background-color: #a6e8ea;
}


.section-demo-FBj26f  .card-p4 [class^=text-] , .section-demo-FBj26f .media-p8 [class^=text-] {
    color: #139b9f;
}


.section-demo-FBj26f  .text-heading{
    color: #00ff00;
}


.section-demo-FBj26f  .text-content-heading{
    color: #0000ff;
}


.section-demo-FBj26f  .text-body{
    color: #00ffff;
}
