// Static DEMO instance styles; production uses variable.th.css.
.FvyQV3-1455804059533172738-0 .FvyQV3-row{
        background: #ffff00  url("/preview-assets/images/image-with-text.jpg")  center center;
        
        background-size: cover;
        
    }
    

    
    
    
        .FvyQV3-1455804059533172738-0 .text-body,
        .FvyQV3-1455804059533172738-0 .text-list {
            color: #e010ef;
        }
    
    
    .FvyQV3-1455804059533172738-0 .FvyQV3-area {
        background-color: rgba(161,8,8,0.8);
    }
    

    
    
    .FvyQV3-1455804059533172738-1 .FvyQV3-row{
        background: orange   ;
        
    }
    

    
    
    
        .FvyQV3-1455804059533172738-1 .text-body,
        .FvyQV3-1455804059533172738-1 .text-list {
            color: #1035ef;
        }
    
    
    .FvyQV3-1455804059533172738-1 .FvyQV3-area {
        background-color: rgba(18,137,148,0.8);
    }
    

    
    
    .FvyQV3-1455804059533172738-2 .FvyQV3-row{
        background: yellow   ;
        
    }
    

    
    
    
        .FvyQV3-1455804059533172738-2 .text-body,
        .FvyQV3-1455804059533172738-2 .text-list {
            color: #10efbb;
        }
    
    
    .FvyQV3-1455804059533172738-2 .FvyQV3-area {
        background-color: rgba(62,94,8,0.8);
    }
