.M7FVZr {
	transition: all 0.5s;
	z-index: 20;
	position: relative;
}

.M7FVZr-region {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1032;
	background-color: #fff;
}

.M7FVZr-region:not(.show) {
	display: none;
}

.M7FVZr-region .container {
	margin-top: 20vh;
}

.M7FVZr-region a {
	color: #666;
}

.M7FVZr-region a:hover {
	color: #333;
}

.M7FVZr-region .ic-close {
	position: absolute;
	right: 2rem;
	top: 2rem;
	font-size: 1.5rem;
	padding: 1rem;
	cursor: pointer;
}

.M7FVZr-bar {
	background-color: #000;
	color: #fff;
	position: relative;
	overflow: hidden;
}

.M7FVZr-bar .container {
	padding-top: 10px;
	padding-bottom: 10px;
}

.M7FVZr-bar-close {
	font-family: "iconfont" !important;
	position: absolute;
	height: 40px;
	top: calc(50% - 20px);
	line-height: 40px;
	padding-left: 15px;
	cursor: pointer;
	padding-right: 15px;
	right: 0;
}

.M7FVZr-bar-close:before {
	content: "\e60a";
}

.M7FVZr .secondary-bar {
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.M7FVZr .secondary-bar .container {
	display: flex;
}

.M7FVZr .secondary-bar .container .secondary-bar-contact a,
.M7FVZr .secondary-bar .container .nav-link,
.M7FVZr .secondary-bar .container .section-drop .dropdown-toggle {
	color: #fff;
}

.M7FVZr .secondary-bar .container .section-drop {
	margin-left: 15px;
}

.M7FVZr .secondary-bar .container .section-drop .dropdown-toggle {
	line-height: 38px;
	font-size: 16px;
}

.M7FVZr .secondary-bar .container a {
	transition: all 0.25s;
}

.M7FVZr .secondary-bar .container a:not(.dropdown-item) {
	height: 38px;
	line-height: 28px;
}

.M7FVZr .secondary-bar .container a:hover {
	color: var(--colorTheme);
}

.M7FVZr .secondary-bar .container .secondary-bar-right {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

.M7FVZr .secondary-bar .container .secondary-bar-right .nav-link {
	cursor: pointer;
}

.M7FVZr .secondary-bar .container .secondary-bar-contact {
	margin-right: 5px;
}

.M7FVZr .secondary-bar .container .secondary-bar-contact a {
	font-size: 16px;
	display: inline-block;
	line-height: 36px;
}

.M7FVZr .secondary-bar .container .secondary-bar-contact a img {
	height: 16px;
	vertical-align: center;
}

.M7FVZr .secondary-bar .container .secondary-bar-contact a:not(:last-child) {
	margin-right: 15px;
}

.M7FVZr .secondary-bar .input-group {
	max-width: 200px;
}

.M7FVZr .secondary-bar .input-group .form-control {
	border: 0;
}

.M7FVZr .secondary-bar .input-group .input-group-append .btn {
	background: #fff;
	border: 0 !important;
}

.M7FVZr .secondary-bar .input-group .input-group-append .btn:last-child {
	border-bottom-right-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.M7FVZr .secondary-bar .input-group .input-group-append i {
	font-size: 14px !important;
}

.M7FVZr nav {
	z-index: 900;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}

.M7FVZr nav .navbar-brand {
	height: 68px;
	display: flex;
	align-items: center;
	position: relative;
	padding-right: 10px;
}

.M7FVZr nav .navbar-brand img {
	max-height: 50px;
	margin-right: 10px;
	vertical-align: middle;
}

.M7FVZr nav .nav-link,
.M7FVZr nav .dropdown-item {
	padding-right: 15px;
	padding-left: 15px;
	color: #333;
}

.M7FVZr .input-group-append .btn {
	border: 0.0625rem solid #ced4da;
	background: #fff;
	color: #ced4da;
	padding-right: 0.75rem !important;
	padding-left: 0.75rem !important;
	border-radius: 0 !important;
}

.M7FVZr .input-group-append .btn:first-child {
	border-left: 0;
}

.M7FVZr .input-group-append .btn:last-child {
	border-bottom-right-radius: 0.25rem !important;
	border-top-right-radius: 0.25rem !important;
}

.M7FVZr .input-group-append i {
	font-size: 13px !important;
}

@media (max-width: 768px) {
	.M7FVZr .M7FVZr-search {
		margin: 1rem 0 0.625rem 0;
		display: none;
	}

	.M7FVZr .M7FVZr-search .input-group-append .btn {
		margin: 0;
	}

	.M7FVZr .M7FVZr-search .input-group-append .btn:first-child {
		border-right: 0;
	}

	.M7FVZr .section-drop .dropdown-toggle:before {
		display: none;
	}

	.M7FVZr .region-icon .nav-link {
		border: 0;
	}

	.M7FVZr nav {
		background-color: #fff;
	}

	.M7FVZr nav .nav-link,
  .M7FVZr nav .dropdown-item {
		padding: 8px 36px 8px 0;
		line-height: 20px;
		border-bottom: 1px solid #e9ecef;
	}

	.M7FVZr nav .navbar-collapse {
		position: fixed;
		background-color: #fff;
		border-top: 1px solid #e9ecef;
		top: 50px;
		width: 100%;
		height: calc(100% - 3.125rem);
		overflow-x: hidden;
		overflow-y: auto;
		left: 0;
		padding-left: 0.625rem;
		padding-right: 0.625rem;
		z-index: 1031;
	}

	.M7FVZr nav .navbar-collapse.show .M7FVZr-search {
		display: block;
	}

	.M7FVZr nav .navbar-open-placeholder {
		position: absolute;
		width: 36px;
		height: 36px;
		right: 0;
		top: 0;
		cursor: pointer;
	}

	.M7FVZr nav .navbar-open-placeholder:after {
		border-style: solid;
		border-width: 2px 2px 0 0;
		border-color: #c1c1c1;
		position: relative;
		content: "";
		display: inline-block;
		height: 8px;
		width: 8px;
		top: 6px;
		margin-left: 12px;
		box-sizing: content-box;
		transform: rotate(135deg);
		transition: all 0.2s ease-in-out;
	}

	.M7FVZr nav .navbar-open-placeholder.active:after {
		top: 11px;
		transform: rotate(-45deg);
	}

	.M7FVZr nav .navbar-brand {
		height: 50px;
		padding: 0;
	}

	.M7FVZr nav .navbar-brand img {
		max-height: 30px;
	}

	.M7FVZr nav .navbar-brand img.navbar-brand-fullView {
		display: none;
	}

	.M7FVZr nav .navbar-nav {
		border-top: 1px solid #e9ecef;
	}

	.M7FVZr nav .navbar-collapse.show .M7FVZr-search {
		display: block;
	}

	.M7FVZr nav .dropdown-menu {
		padding: 0;
		margin: 0;
		background: none;
		box-shadow: none;
	}

	.M7FVZr nav .dropdown-menu .dropdown-item {
		padding-left: 20px;
	}

	.M7FVZr nav .dropdown-menu .dropdown-menu .dropdown-item {
		padding-left: 40px;
	}

	.M7FVZr nav .dropdown-toggle:after {
		display: none;
	}

	.M7FVZr nav.logo-back:not(.logo-center) .container {
		position: relative;
	}

	.M7FVZr nav.logo-back:not(.logo-center) .container:before {
		content: "";
		height: 50px;
		width: 100%;
		position: absolute;
		left: calc(-100% + 15px);
		top: 0;
		background-color: var(--colorTheme);
	}

	.M7FVZr nav.logo-back:not(.logo-center) .container .navbar-brand {
		background-color: var(--colorTheme);
	}

	.M7FVZr nav.logo-back:not(.logo-center) .container .navbar-brand:before {
		content: "";
		position: absolute;
		top: 0;
		left: 100%;
		border-top: 50px solid transparent;
		border-bottom: 0 solid transparent;
		border-left: 20px solid var(--colorTheme);
	}
}

@media (min-width: 768px) {
	.M7FVZr .region-icon {
		line-height: 36px;
		cursor: pointer;
		margin-left: 1rem;
	}

	.M7FVZr .region-icon.nav-item {
		display: none;
	}

	.M7FVZr .M7FVZr-search {
		position: absolute;
		width: 20rem;
		right: 0.9375rem;
		bottom: -4rem;
		z-index: 10;
		display: none;
	}

	.M7FVZr .M7FVZr-search .input-group {
		height: 4rem;
		background-color: #fff;
		align-items: center;
		padding-left: 1rem;
		padding-right: 1rem;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
	}

	.M7FVZr nav .navbar-open-placeholder {
		display: none !important;
	}

	.M7FVZr nav .navbar-nav li {
		position: relative;
	}

	.M7FVZr nav .navbar-nav li > .nav-link {
		font-family: var(--typeMenu);
		font-size: calc(var(--fontSizeMenu) * 1px);
		line-height: 48px;
	}

	.M7FVZr nav .navbar-nav li ul {
		display: block !important;
		border-top: 3px solid var(--colorTheme);
		position: absolute;
		min-width: 200px;
		top: 100%;
		left: 0;
		box-shadow: 0 12px 30px -2px rgba(0, 0, 0, 0.1);
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}

	.M7FVZr nav .navbar-nav li ul .dropdown-toggle {
		position: relative;
		padding-right: 30px !important;
	}

	.M7FVZr nav .navbar-nav li ul .dropdown-toggle:after {
		position: absolute;
		right: 15px;
		top: calc(50% - 2px);
		transition: all 0.2s ease-in-out;
	}

	.M7FVZr nav .navbar-nav li ul .dropdown-item {
		padding-left: 20px;
		padding-right: 20px;
	}

	.M7FVZr nav .navbar-nav li ul ul {
		top: 10px;
		left: 100%;
	}

	.M7FVZr nav .navbar-nav li ul ul ul {
		left: -100%;
	}

	.M7FVZr nav .navbar-nav li ul li > a {
		transition: all 0.2s ease-in-out;
	}

	.M7FVZr nav .navbar-nav li ul li > a:before {
		position: absolute;
		content: "";
		top: 15px;
		left: 25px;
		width: 0;
		height: 1px;
		background: rgba(0, 0, 0, 0.4);
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.M7FVZr nav .navbar-nav li ul li:hover > a {
		padding-left: 40px;
		color: var(--colorTheme);
	}

	.M7FVZr nav .navbar-nav li ul li:hover > a:before {
		width: 10px;
	}

	.M7FVZr nav .navbar-nav li ul li:hover > a.dropdown-toggle:after {
		transform: rotate(-90deg);
	}

	.M7FVZr nav .navbar-nav li.dropdown-menu-right ul {
		left: inherit;
		right: calc(100% - 2px);
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
	}

	.M7FVZr nav .navbar-nav li.dropdown-menu-right ul li .dropdown-item {
		text-align: right;
	}

	.M7FVZr nav .navbar-nav li.dropdown-menu-right ul ul {
		left: inherit;
		right: -100%;
	}

	.M7FVZr nav .navbar-nav li.dropdown-menu-right ul ul li .dropdown-item {
		text-align: left;
	}

	.M7FVZr nav .navbar-nav li.nav-item.dropdown .nav-link:before {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		border-top: 10px solid rgba(0, 0, 0, 0);
		border-right: 10px solid rgba(0, 0, 0, 0);
		border-bottom: 10px solid var(--colorTheme);
		border-left: 10px solid rgba(0, 0, 0, 0);
		bottom: -2px;
		left: calc(50% - 7px);
		opacity: 0;
		transition: all 0.5s;
	}

	.M7FVZr nav .navbar-nav li:hover .nav-link:before {
		opacity: 1 !important;
	}

	.M7FVZr nav .navbar-nav li:hover > ul {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	.M7FVZr nav.big-logo .navbar-brand {
		height: 94px;
	}

	.M7FVZr nav.big-logo .navbar-brand img {
		max-height: 76px;
	}

	.M7FVZr nav.big-logo .navbar-nav li {
		position: relative;
	}

	.M7FVZr nav.big-logo .navbar-nav li > .nav-link {
		line-height: 78px;
	}

	.M7FVZr .nav-item-btn .btn {
		top: 50%;
		padding-right: 0.75rem;
		padding-left: 0.75rem;
		transform: translateY(-50%);
	}

	.M7FVZr .nav-item + .nav-item-btn {
		margin-left: 1rem;
	}

	.M7FVZr:not(.full-view:not(.fixed-top)) nav.logo-back:not(.logo-center) .container {
		position: relative;
	}

	.M7FVZr:not(.full-view:not(.fixed-top)) nav.logo-back:not(.logo-center) .container:before {
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		left: calc(-100% + 15px);
		top: 0;
		background-color: var(--colorTheme);
	}

	.M7FVZr:not(.full-view:not(.fixed-top)) nav.logo-back:not(.logo-center) .container .navbar-brand {
		background-color: var(--colorTheme);
	}

	.M7FVZr:not(.full-view:not(.fixed-top)) nav.logo-back:not(.logo-center) .container .navbar-brand:before {
		content: "";
		position: absolute;
		top: 0;
		left: 100%;
		border-top: 68px solid transparent;
		border-bottom: 0 solid transparent;
		border-left: 20px solid var(--colorTheme);
	}

	.M7FVZr:not(.full-view:not(.fixed-top)) nav.logo-back:not(.logo-center).big-logo .container .navbar-brand {
		background-color: var(--colorTheme);
	}

	.M7FVZr:not(.full-view:not(.fixed-top)) nav.logo-back:not(.logo-center).big-logo .container .navbar-brand:before {
		border-top: 94px solid transparent;
	}

	.M7FVZr:not(.full-view:not(.fixed-top)) nav .navbar-nav li > .nav-link.active {
		color: var(--colorTheme);
	}

	.M7FVZr.full-view {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	.M7FVZr.full-view nav .navbar-brand img {
		display: none;
	}

	.M7FVZr.full-view nav .navbar-brand img.navbar-brand-fullView {
		display: inline-block;
	}

	.M7FVZr.full-view.fixed-top nav {
		background-color: #fff;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
	}

	.M7FVZr.full-view.fixed-top nav img {
		display: inline-block;
	}

	.M7FVZr.full-view.fixed-top nav img.navbar-brand-fullView {
		display: none;
	}

	.M7FVZr.full-view.fixed-top.fadeIn {
		opacity: 0;
		transition: all 0.25s;
	}

	.M7FVZr.full-view.fixed-top.fadeIn:hover {
		opacity: 1;
	}

	.M7FVZr.full-view:not(.fixed-top) nav,
  .M7FVZr.full-view:not(.fixed-top) .secondary-bar {
		background: none !important;
	}
}

.M7FVZr .logo-center .container {
	position: relative;
}

.M7FVZr .logo-center .container .navbar-brand {
	padding-right: 0;
	margin-right: 0;
}

.M7FVZr .logo-center .container .navbar-brand img {
	margin-right: 0;
}

@media (min-width: 1200px) {
	.M7FVZr .logo-center .container .navbar-brand {
		top: 0;
		position: absolute;
		width: 25%;
		left: 37.5%;
		z-index: 11 !important;
		justify-content: center;
	}
}

@media (min-width: 1200px) {
	.M7FVZr .logo-center .container .navbar-nav {
		margin-right: -0.5rem;
		margin-left: -0.5rem;
		position: relative;
		width: 100%;
		justify-content: flex-start !important;
	}

	.M7FVZr .logo-center .container .navbar-nav .nav-item {
		width: 12.5%;
	}

	.M7FVZr .logo-center .container .navbar-nav .nav-item:nth-of-type(3) {
		margin-right: 12.5%;
	}

	.M7FVZr .logo-center .container .navbar-nav .nav-item:nth-of-type(n + 4) .nav-link {
		text-align: right;
	}

	.M7FVZr .logo-center .container .navbar-nav .nav-item:nth-of-type(4) {
		margin-left: 12.5%;
	}

	.M7FVZr .logo-center .container .navbar-nav .nav-item .nav-link {
		padding-left: 0;
		padding-right: 0;
	}
}

.M7FVZr .M7FVZr-mobile-search {
	display: none;
}

.M7FVZr:not(.full-view) nav {
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
// Demo-only instance selector; does not affect real page IDs.
@import "demo";
