// Static DEMO instance styles; production uses variable.th.css.
.section-demo-mieeAn .mieeAn-0 .mieeAn-overlay:before {
            background-color: rgba(255,0,0,.8);
        }
    
    
         .section-demo-mieeAn .mieeAn-0 .text-heading {
             color: #ff0000;
         }
    
    
         .section-demo-mieeAn .mieeAn-0 .text-poster {
            color: #ff0000;
         }
    
    
         .section-demo-mieeAn .mieeAn-0 .text-body,
         .section-demo-mieeAn .mieeAn-0 .text-body * {
             color: #ffff00;
         }
    
    
    
        .section-demo-mieeAn .mieeAn-1 .mieeAn-overlay:before {
            background-color: rgba(255,0,0,.8);
        }
    
    
         .section-demo-mieeAn .mieeAn-1 .text-heading {
             color: #99ff00;
         }
    
    
         .section-demo-mieeAn .mieeAn-1 .text-poster {
            color: #99ff00;
         }
    
    
         .section-demo-mieeAn .mieeAn-1 .text-body,
         .section-demo-mieeAn .mieeAn-1 .text-body * {
             color: #ffd500;
         }
    
    
    
        .section-demo-mieeAn .mieeAn-2 .mieeAn-overlay:before {
            background-color: rgba(27,43,229,0.8);
        }
    
    
         .section-demo-mieeAn .mieeAn-2 .text-heading {
             color: #e80a9b;
         }
    
    
         .section-demo-mieeAn .mieeAn-2 .text-poster {
            color: #e80a9b;
         }
    
    
         .section-demo-mieeAn .mieeAn-2 .text-body,
         .section-demo-mieeAn .mieeAn-2 .text-body * {
             color: #ffd500;
         }
    
    
        @media (min-width: 768px) {
             .section-demo-mieeAn .mieeAn-2 .text-poster {
                font-size: 120px;
             }
        }
    
    
        .section-demo-mieeAn .mieeAn-3 .mieeAn-overlay:before {
            background-color: rgba(27,43,229,0.8);
        }
    
    
    
    
    
    
        .section-demo-mieeAn .mieeAn-4 .mieeAn-overlay:before {
            background-color: rgba(255,0,0,.8);
        }
