.b2YR7v .nav {
	border-bottom: 1px solid #ddd;
}

.b2YR7v .nav .nav-link {
	position: relative;
	padding: 0.75rem 1.5rem 1rem;
	color: var(--colorBody);
	white-space: nowrap;
}

.b2YR7v .nav .nav-link.active {
	color: var(--colorTheme);
	font-weight: bold;
}

.b2YR7v .nav .nav-link.active:before {
	content: '';
	position: absolute;
	width: 100%;
	border-bottom: 0.1875rem solid var(--colorTheme);
	left: 0;
	bottom: -1px;
}

@media (max-width: 768px) {
	.b2YR7v .nav {
		border: 0;
		flex-wrap: nowrap;
		overflow-x: auto;
		margin-left: -0.5rem;
		justify-content: start !important;
	}

	.b2YR7v .nav .nav-link {
		line-height: 200%;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}

	.b2YR7v .nav .nav-link:before {
		display: none;
	}

	.b2YR7v:not(.section-padding-top) {
		padding-top: 0.75rem;
	}

	.b2YR7v:not(.section-padding-bottom) {
		padding-bottom: 0.75rem;
	}
}
// Demo-only instance selector; does not affect real page IDs.
@import "demo";
