@media (max-width: 768px) {
	.ymYbi2 .breadcrumb {
		flex-wrap: nowrap;
		overflow-x: auto;
	}

	.ymYbi2 .breadcrumb-item {
		flex-shrink: 0;
	}

	.ymYbi2 .breadcrumb-item a {
		line-height: 200%;
	}
}

.ymYbi2 .bread-crumb {
	position: relative;
	padding-bottom: calc(5% + 1.5625rem);
	background: linear-gradient(318.8deg, #dfdbd7 -11.42%, #f2f1ef 58.01%);
}

.ymYbi2 .bread-crumb:before {
	display: table;
	content: " ";
}

.ymYbi2 .bread-crumb:after {
	content: "";
	position: absolute;
	bottom: 0;
	padding-bottom: 0;
	background-image: url("data:image/svg+xml,%3Csvg%20width%3d%271440%27%20class%3d%27arc%27%20height%3d%2772%27%20viewBox%3d%270%200%201440%2072%27%20fill%3d%27none%27%20xmlns%3d%27http%3a%2f%2fwww.w3.org%2f2000%2fsvg%27%3E%3Cpath%20d%3d%27M-400%20176C139.222%20-24.794%201028.42%20-10.941%201440%2013.8751V176L-400%20176Z%27%20fill%3d%27%23ffffff%27%3E%3C%2fpath%3E%3C%2fsvg%3E");
	background-repeat: no-repeat;
	background-size: 100%;
	left: 0;
	width: 100%;
	height: auto;
	padding-top: 5%;
	background-color: transparent;
}
// Demo-only instance selector; does not affect real page IDs.
@import "demo";
