// Static DEMO instance styles; production uses variable.th.css.
.section-demo-jIZB32 .bread-crumb {
        background-color: #ffff00;
    }


    .section-demo-jIZB32 .bread-crumb * {
        color: #ff0000;
    }


  .section-demo-jIZB32 .section-container {
          background: #ffd9d9   ;
      
  }
