// Static DEMO instance styles; production uses variable.th.css.
.section-demo-Iv2aYb{
    background: #f7f7f7   ;
    
}



.section-demo-Iv2aYb .section-title .text-heading {
    color:#ff0000
}


.section-demo-Iv2aYb .section-title .text-body {
    color:#f88f8f
}


.section-demo-Iv2aYb .card-header .price {
    color:#0015ff
}


.section-demo-Iv2aYb .card-header.active .price {
    color:#6b74dc
}


.section-demo-Iv2aYb .card-header .unit {
    color:#d98b8b
}


.section-demo-Iv2aYb .card-header.active .unit {
    color:#43bfc4
}


.section-demo-Iv2aYb .card-header  {
    background-color:#ff0000
}


.section-demo-Iv2aYb .card-header.active  {
    background-color:#285e05
}



.section-demo-Iv2aYb .card-body  {
    background-color:#e8de98
}


.section-demo-Iv2aYb .card-body li  {
    color:#68c511
}
