<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''} ${section.settings.layout} embed-responsive embed-responsive-normal|">
        <img th:src="${imageUrls.thumbnail(section.settings.image)}" th:data-original="${imageUrls.original(section.settings.image)}" class="lazy d-md-block d-none" th:alt="${section.settings.heading}" th:if="${not #strings.isEmpty(section.settings.image)}">
        <img th:src="${imageUrls.thumbnail(not #strings.isEmpty(section.settings.mobImage) ? section.settings.mobImage : section.settings.image)}" th:data-original="${imageUrls.original(not #strings.isEmpty(section.settings.mobImage) ? section.settings.mobImage : section.settings.image)}" class="lazy d-md-none d-block" th:alt="${section.settings.heading}" th:if="${not #strings.isEmpty(section.settings.mobImage) || not #strings.isEmpty(section.settings.image)}">
        <div class="related-card card"
            th:if="${   not #strings.isEmpty(section.settings.subheading) ||
                not #strings.isEmpty(section.settings.subheading) ||
                not #strings.isEmpty(section.settings.heading) ||
                not #strings.isEmpty(section.settings.content) ||
                (section.settings.buttonStyle != 'invisible' && not #strings.isEmpty(section.settings.buttonLabel))
            }"
            >
            <div class="card-body">
                <h5 class="text-small" th:if="${not #strings.isEmpty(section.settings.subheading)}">[[${ section.settings.subheading }]]</h5>
                <h3 class="text-heading" th:if="${not #strings.isEmpty(section.settings.heading)}">[[${ section.settings.heading }]]</h3>
                <div class="text-body" th:if="${not #strings.isEmpty(section.settings.content)}" th:utext="${section.settings.content}"></div>
                <p class="text-button" th:if="${section.settings.buttonStyle != 'invisible' && not #strings.isEmpty(section.settings.buttonLabel)}">
                    <button th:class="|btn ${ section.settings.buttonStyle }|" th:if="${#strings.isEmpty(section.settings.buttonLink) && section.settings.buttonStyle != 'invisible'}">[[${ section.settings.buttonLabel }]] <i class="ic-right"></i></button>
                    <a th:href="${ section.settings.buttonLink }" th:class="|btn ${ section.settings.buttonStyle }|"  th:if="${not #strings.isEmpty(section.settings.buttonLink) && section.settings.buttonStyle != 'invisible'}">
                        [[${ section.settings.buttonLabel }]] <i class="ic-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
