// Static DEMO instance styles; production uses variable.th.css.
.section-demo-R7ZN7z .R7ZN7z-mission{
  background-color: #ff0000;
}



.section-demo-R7ZN7z .R7ZN7z-second .text-content-heading{
    color: #00ff00;
}



.section-demo-R7ZN7z .R7ZN7z-second .text-body{
    color: #1228b7;
}



.section-demo-R7ZN7z .R7ZN7z-second-card, .section-demo-R7ZN7z .R7ZN7z-second:not(:last-child) .R7ZN7z-second-card {
    border-color: #1f1fcb;
}



.section-demo-R7ZN7z .R7ZN7z-mission .text-heading, .section-demo-R7ZN7z .R7ZN7z-mission .text-content-heading{
color: #e7880a;
}



.section-demo-R7ZN7z .R7ZN7z-mission .text-body{
    color: #e7e306;
}
