// Static DEMO instance styles; production uses variable.th.css.
.section-demo-u2EN3m .u2EN3m-card{
    background: #540808   ;
    
}



.section-demo-u2EN3m .section-title .text-heading{
    color: #ffff00;
}



.section-demo-u2EN3m .section-title .text-t-body{
    color: #f1f174;
}




.section-demo-u2EN3m .media .text-content-heading{
    color: #d506d5;
}




.section-demo-u2EN3m .media .text-body{
    color: #ea89ea;
}



.section-demo-u2EN3m .media{
    border-color: rgba(199,81,199,0.57);
}
