<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
	<div th:class="|${ section.templateId }-card|">
		<div th:class="|embed-responsive embed-responsive-${section.settings.imageScale}|">
			<img class="embed-responsive-item lazy" th:src="${imageUrls.thumbnail(section.settings.image)}" th:data-original="${imageUrls.original(section.settings.image)}" th:if="${not #strings.isEmpty(section.settings.image)}">
		</div>
		<div class="section-title">
			<h3 class="text-heading" th:if="${not #strings.isEmpty(section.settings.heading)}">
			    [[${ section.settings.heading }]]
			</h3>

			<h5 class="text-subheading" th:if="${not #strings.isEmpty(section.settings.subheading)}">
			    [[${ section.settings.subheading }]]
			</h5>
            <th:block th:if="${not #strings.isEmpty(section.settings.content)}" th:with="textLines = ${#strings.listSplit(section.settings.content,'\n')}">
                <th:block th:each="textLine,saltLine:${textLines}">
                    <p class="text-body text-t-body" th:if="${not #strings.isEmpty(textLine)}" th:utext="${textLine}"></p>
                </th:block>
            </th:block>
			<p class="text-btn" th:if="${not #strings.isEmpty(section.settings.buttonLabel) && not #strings.isEmpty(section.settings.buttonLink) && section.settings.buttonStyle != 'invisible'}">
				<a th:class="|btn ${section.settings.buttonStyle}|" th:href="${section.settings.buttonLink}">
				    [[${ section.settings.buttonLabel }]]
				</a>
			</p>
			<div th:class="|media ${ section.templateId }-item|" th:each="o, stat:${section.settings.itemList}">
				<div class="media-icon" th:if="${not #strings.isEmpty(o.subIcon)}">
					<img class="lazy" th:src="${imageUrls.thumbnail(o.subIcon)}" th:data-original="${imageUrls.original(o.subIcon)}">
				</div>
				<div class="media-body" th:if="${not #strings.isEmpty(o.subHeading) || not #strings.isEmpty(o.subContent)}">
					<h3 class="text-content-heading" th:if="${not #strings.isEmpty(o.subHeading)}">
						[[${o.subHeading}]]
					</h3>
					<p class="text-body" th:if="${not #strings.isEmpty(o.subContent)}">
					    [[${o.subContent}]]
					</p>
				</div>
			</div>
		</div>
	</div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
