// Static DEMO instance styles; production uses variable.th.css.
.section-demo-Inuqaa{
    background: #000   ;
    
}



.section-demo-Inuqaa .embed-responsive label, .section-demo-Inuqaa .text-label {
    background-color:#ff0000;
}
.section-demo-Inuqaa .Inuqaa-card {
    border-color:#ff0000;
}



.section-demo-Inuqaa svg {
    fill:#fff000;
}



.section-demo-Inuqaa .text-heading {
    color:#00ff00;
}
