// Static DEMO instance styles; production uses variable.th.css.
.section-demo-IzAjq2{
    background: #f2f2f2   ;
    
}




    
        .section-demo-IzAjq2 .section-title-divider {
            width: 100%;
        }
    
    


@media (min-width: 768px) {
    .section-demo-IzAjq2 .section-title [class^=text-] {
        width: 100%;
    }
}



.section-demo-IzAjq2 .section-title .has-line:after, .section-demo-IzAjq2 .section-title img {
    width: 5%;
}



.section-demo-IzAjq2 .embed-responsive-video:before {
     padding-top: 56.25%;
 }
