// Static DEMO instance styles; production uses variable.th.css.
.section-demo-u2iIV3 {
    --banner-text: #00ffff;
    --banner-mobile-text: #9209c0;
    --banner-overlay: rgba(0,0,0,.6);
    --banner-opacity: calc(50 / 100);
    --banner-width: 60%;
    --banner-offset: 0%;
}
