// Static DEMO instance styles; production uses variable.th.css.
.section-demo-VrAVV3 .VrAVV3-0{
            background-color: #ff0000;
        }
    
    
         .section-demo-VrAVV3 .VrAVV3-0 .text-content-heading {
             color: #ffff00;
         }
    

    
         .section-demo-VrAVV3 .VrAVV3-0 .text-body {
             color: #7a7a04;
         }
    
    
        .section-demo-VrAVV3 .VrAVV3-1{
            background-color: #00ff00;
        }
    
    

    
    
        .section-demo-VrAVV3 .VrAVV3-2{
            background-color: #0000ff;
        }
    
    

    


.section-demo-VrAVV3 .VrAVV3-card {
    border-radius:15px;
}


.section-demo-VrAVV3 img {
    height:150px;
}
