<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
	    <div class="row row-gutter">
		    <div th:class="|col-md-${ section.settings.column } col-${ section.settings.mobColumn }|" th:each="o,salt:${section.settings.itemList}">
			    <div th:class="|${section.templateId}-card ${ section.templateId }-${salt.index}|">
				    <img class="lazy" th:src="${imageUrls.thumbnail(o.image)}" th:data-original="${imageUrls.original(o.image)}" th:data-swap="${imageUrls.original(not #strings.isEmpty(o.swapImage) ? o.swapImage : o.image)}" th:alt="${ not #strings.isEmpty(o.alt) ? o.alt : o.heading}" th:if="${not #strings.isEmpty(o.image)}">
                    <h3 class="text-content-heading" th:if="${ not #strings.isEmpty(o.heading) }">[[ ${ o.heading } ]]</h3>
                    <th:block class="text-list" th:if="${not #strings.isEmpty(o.content)}" th:with="textLines = ${#strings.listSplit(o.content,'\n')}">
                        <th:block th:each="textLine,saltLine:${textLines}">
                            <p class="text-body" th:if="${not #strings.isEmpty(textLine)}" th:utext="${textLine}"></p>
                        </th:block>
                    </th:block>
			    </div>
		    </div>
	    </div>
    </div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
