// Static DEMO instance styles; production uses variable.th.css.
.section-demo-a2uYja{
    background: #f7f7f7   ;
    
}




.section-demo-a2uYja .a2uYja-content:after{
background-color: #ffff00;
    color: #ff00ff;
}



.section-demo-a2uYja .a2uYja-content{
  background-color: #0000ff;
}


.section-demo-a2uYja [class*="text-"]{
    color: #a4a4ee;
}
