// Static DEMO instance styles; production uses variable.th.css.
.section-demo-IN3ymu {
        background: #fff000   ;
      
  }


  .section-demo-IN3ymu .IN3ymu-item{
      
          background-color: #ff0000;
      
      
          color: #af9014;
      
  }
