<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''}${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''}|">
	    <div class="row g-0">
		    <div th:class="|col-md-${ section.settings.column } col-${ section.settings.mobColumn }|" th:each="o,salt:${section.settings.imageList}">
		        <a th:href="${ o.buttonLink }" th:if="${not #strings.isEmpty(o.buttonLink )}">
                    <div th:class="|embed-responsive embed-responsive-${ section.settings.imageScale }|">
                        <img class="embed-responsive-item lazy" th:src="${imageUrls.thumbnail(o.image)}" th:data-original="${imageUrls.original(o.image)}" th:alt="${ not #strings.isEmpty(o.alt) ? o.alt : o.heading}" th:if="${not #strings.isEmpty(o.image)}">
                        <div th:class="|${section.templateId}-card|">
                           <div th:class="|${section.templateId}-card-content|" th:if="${ not #strings.isEmpty(o.subheading) || not #strings.isEmpty(o.heading) || not #strings.isEmpty(o.content) }">
                               <h5 class="text-subheading" th:if="${not #strings.isEmpty(o.subheading)}">[[${ o.subheading }]]</h5>
                               <h3 class="text-heading" th:if="${not #strings.isEmpty(o.heading)}">[[${ o.heading }]]</h3>
                               <p class="text-body" th:if="${not #strings.isEmpty(o.content)}" th:utext="${o.content}"></p>
                           </div>
                        </div>
                    </div>
		        </a>
		        <th:block th:if="${#strings.isEmpty(o.buttonLink )}">
                    <div th:class="|embed-responsive embed-responsive-${ section.settings.imageScale }|">
                        <img class="embed-responsive-item lazy" th:src="${imageUrls.thumbnail(o.image)}" th:data-original="${imageUrls.original(o.image)}" th:alt="${ not #strings.isEmpty(o.alt) ? o.alt : o.heading}" th:if="${not #strings.isEmpty(o.image)}">
                        <div th:class="|${section.templateId}-card|">
                           <div th:class="|${section.templateId}-card-content|" th:if="${ not #strings.isEmpty(o.subheading) || not #strings.isEmpty(o.heading) || not #strings.isEmpty(o.content) }">
                               <h5 class="text-subheading" th:if="${not #strings.isEmpty(o.subheading)}">[[${ o.subheading }]]</h5>
                               <h3 class="text-heading" th:if="${not #strings.isEmpty(o.heading)}">[[${ o.heading }]]</h3>
                               <p class="text-body" th:if="${not #strings.isEmpty(o.content)}" th:utext="${o.content}"></p>
                           </div>
                        </div>
                    </div>
			    </th:block>
		    </div>
	    </div>
    </div>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
