[# th:if="${not #strings.isEmpty(section.settings.backgroundColor) || not #strings.isEmpty(section.settings.backgroundImage)}"]
.section-[[${ section.id }]]{
    background: [[${section.settings.backgroundColor}]] [# th:if="${not #strings.isEmpty(section.settings.backgroundImage)}"] url("[[${section.settings.backgroundImage}]]")[/] [[${section.settings.backgroundRepeat}]] [[${section.settings.backgroundPosition}]];
    [# th:if="${not #strings.isEmpty(section.settings.backgroundSize)}"]
    background-size: [[${section.settings.backgroundSize}]];
    [/]
}
[/]

[# th:if="${not #strings.isEmpty(section.settings.headingColor) || not #strings.isEmpty(section.settings.subheadingColor) || not #strings.isEmpty(section.settings.bodyColor)}"]
@media (min-width: 768px) {
    [# th:if="${not #strings.isEmpty(section.settings.headingColor)}"]
    .section-[[${ section.id }]] .text-heading {
        color:[[${section.settings.headingColor}]];
    }
    [/]
    [# th:if="${not #strings.isEmpty(section.settings.subheadingColor)}"]
    .section-[[${ section.id }]] .text-subheading {
        color:[[${section.settings.subheadingColor}]];
    }
    .section-[[${ section.id }]] .text-subheading:before {
        border-color:[[${section.settings.subheadingColor}]];
    }
    [/]
    [# th:if="${not #strings.isEmpty(section.settings.bodyColor)}"]
    .section-[[${ section.id }]] .text-body {
        color:[[${section.settings.bodyColor}]];
    }
    [/]
}
[/]
