// Static DEMO instance styles; production uses variable.th.css.
.section-demo-bMVBvq{
    
    background:   url("/preview-assets/images/banner.og.jpg") no-repeat center center;
    
    background-size: contain;
    
}



.section-demo-bMVBvq .text-heading {
    color:#ff0000;
}



.section-demo-bMVBvq .text-content-heading {
    color:#ff00ff;
}



.section-demo-bMVBvq .text-body {
    color:#0000ff;
}
