// Static DEMO instance styles; production uses variable.th.css.
.section-demo-vQrQB3 .vQrQB3-content:before {
         background-color: rgba(0,0,0,.6);
    }



@media (max-width: 768px) {
  .vQrQB3 .alone .vQrQB3-content [class*="text-"] {
    color: #9209c0;
  }
}



    
        .section-demo-vQrQB3 .slick-slide-0 [class*="text-"] {
            color: #ff0000;
        }
    

    
        .section-demo-vQrQB3 .slick-slide-0 .slick-slide-area {
            width: 60%;
            margin-left: 0%;
        }
    
    
        .section-demo-vQrQB3 .slick-slide-1 [class*="text-"] {
            color: #ffffff;
        }
    

    
        .section-demo-vQrQB3 .slick-slide-1 .slick-slide-area {
            width: 60%;
            margin-left: 0%;
        }
