// Static DEMO instance styles; production uses variable.th.css.
.section-demo-f667Zz{
    background: #f2f2f2   ;
    
}




    
    .section-demo-f667Zz .section-title-divider {
        width: 100%;
    }
    
    


@media (min-width: 768px) {
    .section-demo-f667Zz .section-title [class^=text-] {
        width: 100%;
    }
}



.section-demo-f667Zz .section-title .has-line:after, .section-demo-f667Zz .section-title img {
    width: 5%;
}




.section-demo-f667Zz .card .text-content-heading{
    color: #ff0000;
}



.section-demo-f667Zz .card li, .section-demo-f667Zz .card .card-mask-content *{
    color: #e3e321;
}





.section-demo-f667Zz .card-mask:before {
    background-color: rgba(174,12,192,0.61);
}
