// Static DEMO instance styles; production uses variable.th.css.
.section-demo-UFVRfa .UFVRfa-0 .UFVRfa-row{
        background: #ffff00  url("/preview-assets/images/banner.jpg")  center center;
        
        background-size: cover;
        
    }
    

    
        .section-demo-UFVRfa .UFVRfa-0 [class*="text-"] {
            color: #e010ef;
        }
    

    
        .section-demo-UFVRfa .UFVRfa-0 li {
            color: #0d51b7;
        }
    

    
        .section-demo-UFVRfa .UFVRfa-0 .UFVRfa-area {
            background-color: rgba(161,8,8,0.8);
        }
    

    
        .section-demo-UFVRfa .section-title .has-line:after, .section-demo-UFVRfa .section-title img {
            width: 20%;
        }
    
    

    
    
    .section-demo-UFVRfa .UFVRfa-1 .UFVRfa-row{
        background: orange   ;
        
    }
    

    
        .section-demo-UFVRfa .UFVRfa-1 [class*="text-"] {
            color: #1035ef;
        }
    

    

    
        .section-demo-UFVRfa .UFVRfa-1 .UFVRfa-area {
            background-color: rgba(18,137,148,0.8);
        }
    

    
    

    
    
    .section-demo-UFVRfa .UFVRfa-2 .UFVRfa-row{
        background: yellow   ;
        
    }
    

    
        .section-demo-UFVRfa .UFVRfa-2 [class*="text-"] {
            color: #10efbb;
        }
    

    

    
        .section-demo-UFVRfa .UFVRfa-2 .UFVRfa-area {
            background-color: rgba(62,94,8,0.8);
        }
