// Static DEMO instance styles; production uses variable.th.css.
.section-demo-Q2vimy [class*=container] {
    background-color: #f5f5f5;
}
.section-demo-Q2vimy svg {
    fill: #f5f5f5!important;
}



.section-demo-Q2vimy .text-heading {
    color: #ff0000;
}
