<section th:class="|section${section.settings.marginTop ? ' section-margin-top': ''}${section.settings.marginBottom ? ' section-margin-bottom': ''} ${ section.templateId } section-${ section.id }|" th:data-section="${section.templateId}">
    <div th:class="|container${section.settings.wideScreen ? '-fluid' : ''} ${section.settings.paddingTop ? ' section-padding-top': ''}${section.settings.paddingBottom ? ' section-padding-bottom': ''}|">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1">
                <div class="text-end">
                    <img class="text-img lazy" th:src="|${ section.settings.image }!1|" th:data-original="${ section.settings.image }" th:alt="${section.settings.alt}" th:if="${not #strings.isEmpty(section.settings.image)}">
                    <h3 class="text-heading" th:if="${not #strings.isEmpty(section.settings.heading)}" th:utext="${#strings.replace(section.settings.heading,'\n','<br>')}"></h3>
                    <p class="text-button" th:if="${ section.settings.buttonStyle != 'invisible' && not #strings.isEmpty(section.settings.buttonLabel) }">
                        <a th:href="${ #strings.isEmpty(section.settings.buttonLabel) ? 'javascript:void(0)' : section.settings.buttonLink }" th:class="|btn ${section.settings.buttonStyle}|">
                            [[${ section.settings.buttonLabel }]] <i class="ic-right"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img class="lazy" th:src="|${ section.settings.rightImage }!1|" th:data-original="${ section.settings.rightImage }" th:alt="${section.settings.rightAlt}" th:if="${not #strings.isEmpty(section.settings.rightImage)}">
            </div>
        </div>
    </div>
    <svg class="curve-bottom-out" style="fill: currentColor;" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0,0c0,0,22.4,50,50,50s50-50,50-50"></path></svg>

    
    <style th:if="${params.designMode && not #strings.isEmpty(variableCSS)}" th:inline="text" th:utext="${variableCSS}"></style>
</section>
