// Static DEMO instance styles; production uses variable.th.css.
.section-demo-Zb2EZv .Zb2EZv-contact {
    background: #fff  url("/preview-assets/images/map.png") no-repeat center right;
    
    background-size: cover;
    
}




.section-demo-Zb2EZv .Zb2EZv-map{
    height: 600px;
}



.section-demo-Zb2EZv .media label{
    color: #09d56f;
}


.section-demo-Zb2EZv .media .media-icon i{
    color: #a209d5;
}



.section-demo-Zb2EZv .media h3{
    color: #93083d;
}


.section-demo-Zb2EZv .text-content-heading{
    color: #09d5b6;
}


.section-demo-Zb2EZv .media .text-body,
.section-demo-Zb2EZv .media p{
    color: #b9a107;
}


.section-demo-Zb2EZv .Zb2EZv-form{
    background-color: #cc6767;
}
